/*start sidebar color*/
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../../fonts/glyphicons-halflings-regular.eot');
    src: url('../../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../../fonts/glyphicons-halflings-regular.svg') format('svg');
  }
  .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
aside>.sidebar {
    background-color: #343a40;
}

aside>.brand-link {
    background-color: #343a40;
}

ul>li>.nav-link>.fa-caret-right {
    padding-left: 20px;
}


/*end sidebar color*/


/*start login background image*/

body#main {
    background: url('../../img/login_background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*end background image*/

div>.container-fluid>.content-wrapper {
    background-color: #ffff;
    padding-left: 20px;
    padding-right: 20px;
}

nav.border-bottom {
    /*background-color: #757b82;*/
}

nav>.navbar-nav>.nav-link {
    font-size: 20px;
    /*font-style: italic;*/
    font-weight: bold;
}

.crop {
    width: 100px;
    height: 80px;
    overflow: hidden;
    border-radius: 10%;
}

.crop img {
    width: 400px;
    height: 300px;
    margin: -75px 0 0 -100px;
}

.wrapper,
body,
html {
    font-size: 13px;
    /*font-family: 'Work Sans', sans-serif;*/
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #676a6c;
}

.brand-text {
    font-size: 20px;
}

.navbar-nav>.user-menu .user-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}

.nav-container {
    background-color: #465A61;
}

.navbar-nav .nav-item .nav-link {
    color: #e0dbdb;
    font-weight: 600;
    font-size: 14px;
}

.navbar-nav .nav-item .nav-link:hover {
    color: red;
}

.img-circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.error {
    color: red;
}

span.fa.fa-smile-o {
    padding: 5px 20px 20px 10px;
    font-size: 160px;
    float: left;
}

span.fa.fa-frown-o {
    padding: 5px 20px 20px 10px;
    font-size: 160px;
    float: left;
}

html[lang='ar'] body {
    direction: rtl;
    text-align: right;
}

html[lang='ar'] .mr-auto,
html[lang='ar'] .mx-auto {
    margin-left: auto;
    margin-right: initial!important;
}

html[lang='ar'] .ml-auto,
html[lang='ar'] .mx-auto {
    margin-right: auto;
    margin-left: initial!important;
}

@media (min-width: 768px) {
    html[lang='ar'] .offset-md-4 {
        margin-right: 33.333333%;
    }
}

html[lang='ar'] .navbar-nav {
    padding-right: 0;
}

html[lang='ar'] .dropdown-menu {
    float: right;
    right: 0;
    left: initial;
}

html[lang='ar'] .dropdown-item {
    text-align: right;
}

html[lang='ar'] .box-body {
    padding-right: 10px;
}

@media (min-width: 768px) {
    html[lang='ar'] .content-wrapper,
    html[lang='ar'] .main-footer,
    html[lang='ar'] .main-header {
        transition: margin-right 0.3s ease-in-out;
        margin-right: 250px;
        margin-left: initial;
    }
}

html[lang='ar'] .main-sidebar {
    right: 0;
    left: initial;
}
@media (max-width: 991.98px){
    html[lang='ar'] .main-sidebar {
        right: -250px;
        left: initial;
    }
    html[lang='ar'] .sidebar-open .main-sidebar {
        right: 0;
    }
}
html[lang='ar'] .nav {
    padding-right: 0;
}

html[lang='ar'] .nav-sidebar>.nav-item .nav-icon {
    margin-left: .2rem;
    margin-right: initial;
}

html[lang='ar'] .nav-sidebar .nav-link>p>.right {
    right: initial;
    left: 1rem;
}

.back-to-shop {
    margin-left: 15px;
}

html[lang='ar'] .back-to-shop {
    margin-left: inherit;
    margin-right: 11px;
}

html[lang='ar'] ul>li>.nav-link>.fa-caret-right {
    padding-right: 20px;
    padding-left: initial;
}

html[lang='ar'] .pull-right {
    float: left;
}

html[lang='ar'] .form-check-input {
    margin-right: -1.25rem;
    margin-left: initial;
}

html[lang='ar'] .form-check {
    padding-right: 1.25rem;
    padding-left: initial;
}

html[lang='ar'] .form-group {
    padding-left: 2px;
}

html[lang='ar'] .mr-3,
html[lang='ar'] .mx-3 {
    margin-left: 1rem !important;
    margin-right: initial!important;
}

html[lang='ar'] label {
    margin-left: 15px;
    margin-right: initial;
}

html[lang='ar'] .ml-3,
html[lang='ar'] .mx-3 {
    margin-right: 1rem !important;
    margin-left: 0rem !important;
}

html[lang='ar'] .daterangepicker.opensright .ranges,
html[lang='ar'] .daterangepicker.opensright .calendar,
html[lang='ar'] .daterangepicker.openscenter .ranges,
html[lang='ar'] .daterangepicker.openscenter .calendar {
    float: left;
}

html[lang='ar'] .daterangepicker .ranges .range_inputs>div {
    float: right;
}

html[lang='ar'] .daterangepicker .ranges .range_inputs>div:nth-child(2) {
    padding-right: 11px;
    padding-left: initial;
}

html[lang='ar'] .daterangepicker .ranges {
    text-align: right;
}

html[lang='ar'] .dropdown-menu {
    float: right;
    right: 0;
    left: initial;
}

html[lang='ar'] .daterangepicker .daterangepicker_start_input label,
html[lang='ar'] .daterangepicker .daterangepicker_end_input label {
    margin-left: initial;
}

//Iqbal css
.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 2px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 5px 90px 5px 10px;
    min-height: 30px;
    position: relative;
    clear: both;
    width: 100%;
}

.ct-btn {
    text-align: left;
}

.ct-btn.btn {
    padding: 2px 5px;
    font-size: 15px;
    display: inline-flex;
    color: #1ab394;
    margin-bottom: 0px;
    border: 1px solid #1ab394;
}


/*.ct-btn a{
  background: #fff;
  color: #fff;
}*/

.ct-btn a:hover {
    background: #fff;
    color: #fff;
}

#btn-icon,
#newcoaInsert {
    color: #1ab394;
    background-color: #ffffff;
    border-color: #1ab394;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-plus:before {
    content: "\f067";
}

.ibox-tools {
    display: block;
    float: none;
    margin-top: 0;
    position: absolute;
    top: 5px;
    right: 15px;
    padding: 0;
    text-align: right;
}

.ibox-tools a {
    cursor: pointer;
    margin-left: 5px;
    color: #c4c4c4 !important;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.table>thead:first-child>tr:first-child>th {
    border-top: 16;
    padding: 8px 5px;
    background: transparent;
}

table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
}

.table-bordered {
    border: 1px solid #EBEBEB;
}

.table-responsive>.table-bordered {
    border: 0;
    border-collapse: separate;
}

table.list-table {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
}

.table-responsive table tbody tr:nth-child(odd) {
    background-color: #edf3ed;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 8px;
    white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
}

div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:last-child {
    padding-right: 0;
}

.page-item.active .page-link {
    background-color: #1ab394;
    border-color: #1ab394;
}

.dataTables_paginate .paging_simple_numbers {
    margin: 0;
    white-space: nowrap;
    text-align: right;
}

.pagination .page-item.active .page-link {
    z-index: 1;
    background-color: #1ab394 !important;
    border-color: #1ab394!important;
}

table.dataTable thead .sorting_desc:after {
    content: "\e156";
}

table.dataTable thead .sorting:after {
    opacity: 0.2;
    content: "\e150";
}

.dataTables_paginate.paging_simple_numbers {
    float: right;
}

.modal-area.form-body-md {
    background: #fbfbfb none repeat scroll 0 0;
    border: 1px solid #e4e4e4;
    padding: 8px 10px;
}

.common-form {
    color: #0d5a4a;
}

.form-body-md {
    background: #fbfbfb none repeat scroll 0 0;
    border: 1px solid #e4e4e4;
    padding: 8px 10px;
}

.common-form .modal-content {
    border-bottom: 0px;
    border-radius: 10px;
    max-width: inherit;
    margin: 30px auto;
}

.common-form .modal-header {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    width: 30px;
    height: 30px;
    float: right;
    position: absolute;
    right: -14px;
    border: 2px solid #cbdae4;
    border-radius: 50px;
    z-index: 4;
    top: -15px;
    background: #fff;
}

.modal {
    z-index: 2050 !important;
    background: #141514a1;
}

.modal-dialog.modal-md {
    max-width: 600px;
}

.modal-dialog {
    z-index: inherit !important;
}

.modal-dialog {
    margin: 3.75rem auto;
}

.modal-content {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    outline: 0 none;
    position: relative;
}

.common-form .modal-body {
    padding: 15px 15px 15px 15px;
}

.crowlr-4,
.crowmlr-4 {
    margin-right: -4px;
    margin-left: -4px;
}

.panel-default {
    border-color: #e7eaec;
}

.panel {
    background-color: #fff;
    border-radius: 4px;
    padding-bottom: 1px;
}

.crowmlr-8 {
    margin-right: -8px;
    margin-left: -8px;
}

.common-form .modal-header .close {
    width: 25px;
    margin: 0px;
    position: relative;
    top: -10px;
    left: -4px;
}

.common-form fieldset {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #e7eaec;
    padding: 5px;
    margin: 5px 5px 8px;
}

.common-form legend {
    width: auto;
    margin-bottom: 0px;
    font-size: 13px;
    font-weight: bold;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}

.btn-default {
    color: inherit;
    background: white;
    border: 1px solid #e7eaec;
}

#save-btn,
#add-accVcrDtls-btn,
#show-btn {
    color: #fff;
    background-color: #18a689;
    border-color: #18a689;
}

.cancel-btn {
    color: #ffffff!important;
    background-color: #f7a54a !important;
    border-color: #f7a54a!important;
}


/*for tooltip*/

.read-data {
    color: #1ab797;
}

.read-data:hover {
    color: #1ab797;
}

.custom-form-view .form-group {
    border: 1px solid #ddd;
}

.form-view .form-group .cbwm0 {
    margin: 0px !important;
    border-bottom: 1px solid #ddd;
}

.form-view .cbwm0 .control-label,
.form-view .fmi_box {
    padding: 2px 5px;
    display: flex;
}

.form-view .cbwm0 .control-label {
    border-right: 1px solid #ddd;
    font-size: 12px;
    font-weight: 600;
}

.common-form label {
    margin-bottom: 0rem !important;
    padding-right: 0px;
}


/*dataTables*/

div.table-responsive>div.dataTables_wrapper>div.row {
    margin: 0;
}

div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:first-child {
    padding-left: 0;
}

.dataTables_length {
    float: left;
}

.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 10px 0px 15px 0px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
}

.ibox-content {
    color: inherit;
}

select.form-control:not([size]):not([multiple]) {
    height: 2.05rem !important;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 75px;
    display: inline-block;
}

.form-control,
.single-line {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
}

.dataTables_length label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
}

.dataTables_filter label {
    margin-right: 5px;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
}

.form-control,
.single-line {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.input-sm,
.form-control-sm {
    height: 31px;
}

.form-control {
    font-size: 0.9rem;
}

.dataTables_filter {
    text-align: right;
}

.dataTables_filter label {
    text-align: left;
    white-space: nowrap !important;
}

.form-control:focus,
.single-line:focus {
    border-color: #1ab394 !important;
}

div.dataTables_wrapper div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
}

.wrapper-content {
    padding: 15px 2px 30px;
}

.form-body-md.report-form-area {
    border: 2px solid #badaba;
    padding: 5px 5px 5px;
    border-radius: 5px 5px 0px 0px;
}

.crowmlr-8 {
    margin-right: -8px;
    margin-left: -8px;
}

.report-form .panel-default {
    padding: 5px;
    background: #fefefe;
    border: 1px solid #badaba;
}

.panel {
    background-color: #fff;
    border-radius: 4px;
    padding-bottom: 1px;
}

.common-form .form-group {
    margin-bottom: 5px;
}

.report-form {
    padding: 0px 8px;
    background: #e8f0e8;
    margin: auto;
}

.report-form-area .report-btn {
    display: inline-block;
    float: right;
}

.p-1 {
    padding: 0.25rem !important;
}

.report-form .panel-default {
    padding: 5px;
    background: rgb(254, 254, 254);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(186, 218, 186);
    border-image: initial;
}

#btn-show,
.btn-show {
    color: rgb(255, 255, 255);
    background-color: rgb(26, 179, 148) !important;
    border-color: rgb(26, 179, 148)!important;
}

.ct-btn .btn {
    font-size: 15px;
    display: inline-flex;
    color: rgb(26, 179, 148)!important;
    margin-bottom: 0px;
    padding: 2px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(26, 179, 148)!important;
    border-image: initial;
    background: #fff;
}

thead>tr>th {
    font-size: 13px;
    font-weight: bold;
    color: #212529;
}

div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
}

.dataTables_paginate.current {
    border: 1px solid #18a689!important;
    background-color: #c7aeae!important;
    background: #18a689!important;
    color: #fff!important;
}

div.dataTables_wrapper div.dataTables_paginate {
    border: 1px solid #ddd;
    border-radius: 0.25rem;
}

.text-navy {
    color: #1ab394 !important;
}

.table thead th {
    font-size: 13px !important;
    ;
}

table.dataTable thead th,
table.dataTable thead td {
    border-bottom: none!important;
}

table.dataTable.no-footer {
    border-bottom: none !important;
}

.paginate_button.current {
    /*  background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);
  background: -ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);
  background: -o-linear-gradient(top, #fff 0%, #dcdcdc 100%);
  background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);*/
    background: #37b99f !important;
    color: #fff !important;
}

.dataTables_paginate.paginate_button,
.paginate_button.current {
    color: #fff !important;
}

select.form-control:not([size]):not([multiple]) {
    height: 2.05rem;
}

.dataTables_length select {
    height: 2.05rem;
}

.dataTables_filter input {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.error-msg {
    color: #8a6d3b;
    display: block;
    font-size: 14px;
    font-weight: 500;
    background-color: #fcf8e3;
    border-color: #faebcc;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 5px 5px 5px 5px;
}

.alert-dismissable .close-btn {
    color: inherit;
    position: relative;
    right: 5px;
    top: 2px;
}

.success-msg {
    display: block;
    font-size: 14px;
    font-weight: 500;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 5px 5px 5px 5px;
}

.error {
    padding: 5px 0px 0px 7px;
    font-size: 12px;
}

.select2-container {
    width: 100%!important;
}

.select2-container--default.select2-container--open {
    z-index: 5000;
}

.select2-results__option {
    border: 1px solid #ddd;
    padding: 6px;
    font-size: 14px;
}

@media (min-width: 1200px) {
    .column-three .col-sm-4.control-label {
        max-width: 100% !important;
        flex: initial;
    }
}

@media (min-width: 992px) {
    .modal-xxl {
        max-width: 1170px !important;
    }
    .modal-lg,
    .modal-xl {
        max-width: 965px !important;
    }
}

@media (min-width: 576px) {
    .modal.modal-dialog {
        max-width: 1170px;
        margin: 1.75rem auto;
    }
}

@media (min-width: 1200px) {
    .column-three .col-sm-8.fmi_box {
        max-width: 100% !important;
        flex: initial;
    }
    .column-three .col-sm-4.control-label {
        max-width: 100% !important;
        flex: initial;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .column-two .col-sm-8.fmi_box,
    .column-three .col-sm-8.fmi_box {
        max-width: 100% !important;
        flex: initial;
    }
    .column-two .col-sm-4.control-label,
    .column-three .col-sm-4.control-label {
        max-width: 100% !important;
        flex: initial;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .col-md-4.column-three {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 992px) {
    .modal-dialog.modal-xl,
    .modal-dialog.modal-md {
        max-width: 90%;
    }
}

@media (min-width: 992px) {
    .modal-lg,
    .modal-xl {
        max-width: 965px;
    }
    .modal-xxl {
        max-width: 1170px;
    }
    .modal-full-sn {
        max-width: 90%;
    }
}

.modal-full-sn {
    max-width: 90%;
}

.common-form .select2-container .select2-selection--multiple,
.common-form .select2-container .select2-selection--single {
    min-height: 25px;
}


/* select two search result */

.slt-srs .sc-img {
    width: 20%;
}

.slt-srs .sc-img img {
    height: 60px;
    width: 60px;
}

.slt-srs .sc-con {
    width: 80%;
}

.slt-srs .sc-con span {
    display: block;
    font-size: 13px;
    color: #021323;
}

.slt-srs .sc-con .scsm-gp {
    display: table;
    width: 100%;
    padding-bottom: 2px;
}

.slt-srs .sc-con .scsm-gp .lft {
    float: left;
}

.slt-srs .sc-con .scsm-gp .rit {
    float: right;
}

.slt-srs .sc-con .scsm-gp .sc-code {
    font-weight: bold;
}

.slt-srs .sc-con .scsm-gp .sc-capt {
    font-weight: bold;
}

.common-form .select2-container--default .select2-selection--single {
    border: 1px solid #e5e6e7;
    box-shadow: inset 0 0 2px 1px #f2f6f2;
}

.common-form .select2-container .select2-selection--multiple,
.common-form .select2-container .select2-selection--single {
    min-height: 31px;
    padding-left: 0px;
    padding-right: 0px;
}

.common-form .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 25px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* TABLES */
.table > caption + thead > tr:first-child > td,
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > td,
.table > thead:first-child > tr:first-child > th {
  border-top: 0;
  padding: 8px 5px;
}
.table-bordered {
  border: 1px solid #EBEBEB;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  background-color: #F5F5F6;
  border-bottom-width: 1px;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #e7e7e7;
}
.table > thead > tr > th {
  border-bottom: 1px solid #DDDDDD;
  vertical-align: bottom;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #e7eaec;
  line-height: 1.2;
  padding: 3px 5px 3px 5px;
  vertical-align: top;
}
table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    border: 1px solid #e7e7e7;
    border-bottom-width: 1px;
}