
html[lang='ar'] body {
  direction: rtl;
  font-family: 'Cairo', sans-serif;
}
html[lang='ar'] .sp{
  padding-right: 15px;
  padding-left: 0px;
  text-align: right;
}
html[lang='ar']  .atcart {
  left: 0;
  right: auto;
}
html[lang='ar'] .cartmodal .modal-dialog {
  left: 0;
  right: initial;
}
html[lang='ar'] .sidepanel {
  float: right;
}

html[lang='ar'] #logo img {
  margin-left: 0px;
  margin-right: 55px;
}

html[lang='ar'] .select2-container--default .select2-selection--single {
  border-top-left-radius: initial;
  border-bottom-left-radius: initial;
}

[dir='rtl'] .slick-slide
{
  float: left;
}
.slick-slider .slick-track, .slick-slider .slick-list {
  direction: ltr;
}
html[lang='ar'] .topHeaderLeft{
  text-align: right;
}
html[lang='ar'] .topHeaderRight {
  text-align: left;
}
html[lang='ar'] .select2-results{
  text-align: right;
}
html[lang='ar'] .select2-container{
  text-align: right;
}

html[lang='ar'] .topNav .bg-light {
  direction: rtl;
}
html[lang='ar'] .subscription .form1 .input-group input {
  border-radius: 0px 45px 45px 0px;
  text-align: left;
}
html[lang='ar'] .navbar-nav {
  display: contents;
}
html[lang='ar'] .popularshops .input-group input {
  border-radius: 0px 45px 45px 0px;
  text-align: left;
}
html[lang='ar'] .fbox1 h3::after{
  right: 0;
  left: 0;
}
html[lang='ar'] .fbox1 h4{
  display: inline-flex;
}

html[lang='ar'] .owl-carousel .owl-item,
html[lang='ar'] .owl-wrapper {
  float: right;
}
html[lang='ar'] .owl-carousel{
  direction: ltr !important;
}
html[lang='ar'] .servicesOne {
  float: right;
  text-align: right;
}
html[lang='ar'] .popularshops .pss{
  text-align: right;
}
html[lang='ar'] .popularshops .input-group {
  margin-right: 0px;
  margin-left: initial;
}
html[lang='ar'] #viewMore {
  margin-right: 150px;
  margin-left: initial;
}
html[lang='ar'] .popularshops .input-group button {
  border-radius: 45px 0px 0px 45px;
}

html[lang='ar'] .subTxt {
  text-align: right;
}
html[lang='ar'] .input-group-append {
  margin-right: -1px;
  margin-left: initial;
}
html[lang='ar'] .subscription .form1 button {
  border-radius: 45px 0px 0px 45px;
}
html[lang='ar'] .fbox1{
  text-align: right;
}
[dir=rtl] .slick-next{
  left: 25px;
}

html[lang='ar'] .topHeaderLeft a {
  display: inline;
  float: none;
}



@media only screen and (max-width: 1920px) {
  product-logos .slide::before {
    width: 80% !important;
  }
  .select2-container {
    width: 55%!important;
  }
}
/*.only_mobile{*/
/*  display: none;*/
/*}*/


@media only screen and (min-width: 320px) and (max-width: 639px) {
  /*.only_desktop{*/
  /*  display: none;*/
  /*}*/
  /*.only_mobile{*/
  /*  display: block;*/
  /*}*/
  .sidepanel2{
    width: 0px;
  }
  #logo img {
    margin-left: 0px;
  }
  .footer ul li {
    margin-left: 0px;
  }
  .shopUiBanner img {
    max-width: 100%;
  }

  .services {
    padding: 10px 0;
  }
  .servicesOne {
    float: none;
    display: block;
    padding: 20px;
    text-align: left;
    width: 100%;
  }
  .productCategory {
    padding: 20px 0 0 0;
     margin-left: 0 !important;
  }
  .productCategory div {
    margin: 0px;
  }
  .mainHeading {
    margin-left: 0;
    font-size: 26px;
    width: 100%;
    text-align: center;
  }
  .mainHeading::after{
    content: none;
  }
  .newarrival {
    margin-left: 0;
    width: 100%;
    text-align: center;
  }
  #viewMore {
    position: absolute;
    right: -27px;
    top: -100px;
  }
  .popularShopHeading{text-align: left}
  .popularshop .input-group {
    margin-left: 0px !important;
    width: 65%;
  }
  .popularshops .input-group {
    margin-left: 0px !important;
    width: 100%;
  }
  html[lang='ar'] #viewMore{
    margin-right: 0px;
  }

  .popularshop .ps::after {
    width: 100%;
    display: none;
  }
  .popularshops .ps::after {
    width: 100%;
  }
  .shop2 .slide {
    margin: 0 0;
    padding-bottom:20px ;
  }
  .aboutCompanyInner p {
    text-align: justify;
  }
  .aboutCompanyInner .socialIcon {
    padding: 0 8px;
    margin-top: 15px;
  }
  .storeOwner p {
    text-align: justify;
  }
  .company {
    text-align: left;
  }
  .galleryImageTxt h3 {
    font-size: 20px;
  }
  .galleryImageTxt p {
    font-size: 10px;
  }
  .galleryImageTxt button {
    font-size: 14px;
    margin-top: -25px;
  }
  .product-logos {
    margin-left: -50px;
  }
  .biTxt button {
    font-size: 7px !important;
  }
  .topHeader {
    padding: 7px 0;
  }
  .topHeaderRight {
    text-align: center;
    width: 100%;
    display: none;
  }
  .topHeaderMid span {
    font-size: 13px;
    text-align: center;
  }
  .topHeaderLeft {
    text-align: center;
    display: none;
  }
  #logo {
    float: none;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  #rightSection {
    float: none;
    width: 100%;
  }

  .topBar {
    padding: 5px 0;
  }

  #rightSection .input-group .dropdown {
    display: none;
  }
  #sbox {
    float: none;
    width: 100%;
    margin-bottom: 10px;
  }
  .outside_shop #sbox {
    margin-top: 15px;
  }
  .inside_shop #sbox {
    width: 70%;
  }
  #rightSection input {
    border-radius: 45px 0 0 45px;
  }

  #searchbtn {
    border-radius: 0 45px 45px 0 !important;
  }
  html[lang='ar'] #searchbtn {
    border-radius: 45px 0px 0px 45px!important;
  }

  .mainBanner {
    float: none;
    width: 100%;
  }

  .topNav {
    display: none;
  }
  .swiper-button-prev:after {
    padding: 5px 10px;
    font-size: 20px;
    margin-left: -15px;
  }
  .swiper-button-next:after {
    padding: 5px 10px;
    font-size: 20px;
    margin-left: 15px;
  }
  .bannerInner {
    top: 0;
  }
  .biTxt {
    margin-top: 10px;
  }
  .biTxt h1 {
    font-size: 16px;
  }
  .biTxt p {
    font-size: 7px;
    margin-top: -5px;
  }
  .biTxt button {
    font-size: 10px;
    margin-top: -10px;
  }

  #openbtn {
    display: block;
    z-index: 999 !important;
  }
  #closebtn {
    display: block;
  }

  .sidepanel {
    display: block;
  }

  .sidepanel {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    left: -12px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 9999999999999999999999999 !important;
  }

  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidepanel a:hover {
    color: #f1f1f1;
  }

  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }

  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #dd285d;
    color: white;
    padding: 10px 15px;
    border: none;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 999 !important;
  }

  .inside_shop  .openbtn {
    top: 0px;
  }

  .inside_shop .select2-container{
    width: 70%!important;
  }
  .sticky .openbtn {
    top: 10px;
  }

  html[lang='ar'] .inside_shop .openbtn{
    right: auto;
    left: 0;
  }
  #helpMoreBtn:hover {
    background-color: transparent;
  }
  #cAccountBtn:hover {
    background-color: transparent;
  }

  .openbtn:hover {
    background-color: #444;
  }

  #helpMoreBtn {
    background-color: #dd285d;
    color: #000;
    font-weight: 400;
    font-size: 14px;
    width: 138px;
    height: 45px;
    border-radius: 45px;
    border: none;
    margin-top: -240px;
    margin-left: 100px;
    background-color: transparent;
  }

  #helpMoreBtn i {
    font-size: 36px;
    color: #dd285d !important;
  }
  #cAccountBtn i {
    font-size: 30px;
    color: #dd285d !important;
  }

  #helpMoreBtn span {
    display: none;
  }
  #cAccountBtn span {
    display: none;
  }

  #helpMoreBtn i {
    color: #000;
  }
  #cAccountBtn {
    background-color: #27ae60;
    color: #000 !important;
    box-shadow: 0 !important;
    margin-top: -285px;
    margin-left: 150px;
    background-color: transparent;
  }
  #cAccountBtn i {
    color: #000;
  }
  #barButton {
    flex-direction: none;
    width: 85%;
    position: absolute;
    right: -26px;
    top: 135px;
  }

  .stickybar.sticky {
    position: fixed !important;
    top: 0 !important;
    z-index: 9999999999999 !important;
    margin: 0 !important;
    -webkit-animation: fadeInDown 0.9s ease-in !important;
    animation: fadeInDown 0.9s ease-in !important;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08) !important;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08) !important;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08) !important;
    border-bottom: 0 !important;
    background-color: rgba(255, 255, 255, 1) !important;
    width: 100% !important;
    left: 0 !important;
    right: 0 !important;
    height: 130px !important;
  }

  .stickyNav.sticky {
    display: none !important;
  }
  .stickybar.sticky {
    display: block !important;
  }

  .arz {
    font-size: 15px;
    left: 70px;
    top: 50px;
  }

  .shop2 {
    margin: 0 0;
  }

  .shop2 .slide img {
    width: 80%;
    margin-left: 40px;
  }
  .shop2 .slick-prev:before {
    margin-left: 20px;
  }
  .shop2 .slick-next:before {
    margin-left: -40px;
  }
  .downloadAppIcon img {
    width: 47%;
  }
  .sidepanel ul li {
    margin-left: -40px;
  }
  .servicesOne::after {
    display: none;
  }
  .shop2 .slide button {
    left: 120px !important;
    top: 50px;
  }
  .shop2 .slide:hover::before {
    width: 100%;
  }

  .mobileBottomBar {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #dd285d;
    z-index: 9999;
  }
  .mobileBottomBar ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .mobileBottomBar ul li {
    display: inline-block;
    float: left;
    width: 25%;
  }
  .mobileBottomBar ul li:hover {
    background-color: rgba(123, 19, 49, 0.6);
  }
  .mobileBottomBar ul li a {
    border-bottom: none;
    color: #fff !important;
    font-size: 12px;
    width: 100%;
    padding: 12px 0;
    display: inline-block;
    margin: 0;
  }
  .mobileBottomBar ul li a i {
    font-size: 20px;
  }
  .mobileBottomBar ul li a:hover {
    text-decoration: none;
  }

  #face {
    background-color: #3b5998;
    padding: 15px;
  }
  #twi {
    padding: 15px;
    background-color: #00acee;
  }
  #linke {
    background-color: #0e76a8;
    padding: 15px;
  }
  #tub {
    background-color: #c4302b;
    padding: 15px;
  }
  .mobilesocialIcon i {
    color: #fff;
    margin-left: 5px;
  }

  .productOne {
    width: 100%;
    margin-bottom: 50px;
  }
  .productOne img {
    margin-left: 0 !important;
    max-width: 100%;
  }
  .cartmodal .modal-content {
    max-width: 352px;
  }
  .shopProfile img {
    margin-left: -50px;
    width: 55%;
  }

  .productOne button {
    padding: 10px 0;
    font-size: 14px;
    width: 96%;
  }

  .shopproductlist .owl-dots {
    margin-top: 10px !important;
    display: none;
  }

  .shopproductlistup {
    margin-bottom: -40px;
  }

  .cart {
    background-color: #27ae60;
    color: #fff;
    text-align: center;
    padding: 0 0;
  }
  .atcart {
    position: fixed;
    right: 0;
    top: 350px;
    width: 90px;
    height: 19px;
    z-index: 99999999999999999;
  }
  .cartInner p {
    font-weight: 500;
    font-size: 15px;
    color: #000;
    text-align: center;
    padding: 5px 0;
  }
  .cartInner {
    background-color: #fff;
    padding: 0 0;
    margin-top: 0px;
  }
  .carta {
    font-size: 35px !important;
    margin-top: 15px;
  }

  .productDetails h2 {
    font-size: 16px;
  }

  .productDetailsbtn button {
    margin: 10px 0;
    width: 100%;
  }

  .detailsec1 span {
    font-size: 14px;
    text-align: center;
  }
  .pimg {
    float: none;
    width: 100%;
  }

  .ptext {
    float: none;
    width: 100%;
  }
  .productDetailsbtn button.atc {
    margin-left: 0;
  }

  .pimgBt img {
    width: 100%;
  }
  .productInner {
    width: 23%;
  }

  .similarProductsHead h2::after {
    left: 0 !important;
    width: 200px !important;
  }

  .similarProductsHead h2 {
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
  }

  .featureInner {
    width: 100% !important;
    text-align: center;
  }
  .featureInner .featureThumbnail {
    font-size: 30px;
  }
  .feature-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .feature-desc {
    font-size: 16px;
  }

  .detailsec ul li.nav-item::after {
    display: none;
  }

  .shopText {
    font-size: 14px;
  }
  .shopText1 {
    font-size: 14px;
  }
  .shopPara {
    font-size: 14px;
  }

  .dashnoardNavigation {
    float: none;
    width: 100%;
  }
  .dashnoardDetails {
    float: none;
    border-top: 1px solid #ddd;
    width: 100%;
    height: 100vh;
    margin-bottom: 100px;
  }

  .dnLink ul li a {
    display: inline-block;
    margin: 12px 10px;
  }
  .dnLink ul li {
    text-align: left;
    margin-left: -20px;
  }
  .dnLink {
    padding: 20px 0;
  }
  .dashboardSection {
    margin: 0;
    padding: 0;
  }
  #img2 img,
  #img3 img,
  #img5 img {
    margin-left: 30%;
    margin-bottom: 10px;
  }
  #img2 button.saveBtn {
    width: 70%;
    margin-left: 60px;
  }
  #img4 button.saveBtn {
    width: 100%;
    margin-left: 0;
  }
  .dashnoardInner {
    padding: 0 0;
  }

  .dnLink ul li a::before {
    display: none;
  }

  /*********chekcout**************/
  .continue_shopping_link{
    float: none;
  }
  #pac-input {
    margin-left: 0px;
    width: 85%;
    margin-top: 18px;
  }
  .mapInput {
    top: 100px;
    left: 30px;
    width: 78%;
  }
  #map{
    min-height: 300px;
  }
  .checkout {
    float: none;
    width: 100%;
  }
  .checkoutRight {
    float: none;
    width: 100%;
  }

  .checkoutMain {
    margin-bottom: 100px !important;
  }

  .checkouPrice {
    min-height: 0;
    margin-top: -50px;
  }

  .checkoutTwo button {
    margin-top: 10px;
  }

  .checkoutTwo h6 {
    font-size: 36px;
    margin-top: -15px;
  }

  .editMapSec button {
    left: 120px;
    bottom: 25px;
  }
  .editMap {
    margin-top: -50px;
  }
  .mapbtn button {
    width: 50%;
  }
  #map button {
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 16px;
    border: 1px solid #fff;
    background-color: #27ae60;
    color: #000;
    display: block;
    margin-left: 0px;
    margin-top: 300px;
    color: #fff;
  }
.shopUiBanner img.shopban {width: 100%; height: 220px;}
.shopUiBanner{width: 100%; height: 220px;}
.container, .container-fluid{
  padding: 0;
}
.row{
  margin: 0;
}

  .select2-container {
    width: 77%!important;
  }
  .sp {
    padding-left: 23px;
  }
  .arz h6{
    font-size: 15px;
  }

  [dir=rtl] .slick-prev {
    right: 10px;
  }
  .newarrival::after{
    content: none;
  }

}
/*end of 320*/