body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}
.clear {
    clear: both;
}
.topHeader {
    background-color: #dd285d;
    padding: 15px 0;
    color: #fff;
}

#wrapper {
    width: 100%;
    height: 100vh;
}
.topHeaderRight a:hover {
    text-decoration: none;
    color: #fff;
}
.topHeaderRight a {
    color: #fff;
    margin: 0 5px;
    font-weight: 400;
    font-size: 14px;
}
.topHeaderRight {
    text-align: right;
}

.topHeaderRight span a:hover {
    color: #27ae60;
}
.topHeaderRight span a {
    font-weight: 600;
}
.topHeaderMid span {
    margin: 0 5px;
    font-weight: 400;
    font-size: 14px;
}

.topHeaderLeft a {
    color: #fff;
    margin: 0 10px;
    font-weight: 400;
    font-size: 14px;
}
.topHeaderLeft a:hover {
    color: #fff;
    text-decoration: none;
}

#helpMoreBtn {
    background-color: #dd285d;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    width: 138px;
    height: 45px;
    border-radius: 45px;
    border: none;
}

#helpMoreBtn i {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
}
#helpMoreBtn:hover {
    background-color: #2c2c2c;
}
#cAccountBtn {
    background-color: #27ae60;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    width: 138px;
    height: 45px;
    border-radius: 45px;
    border: none;
}
#cAccountBtn:hover {
    background-color: #2c2c2c;
}

#cAccountBtn i {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
}

#logo {
    float: left;
    width: 25%;
}
#rightSection {
    float: right;
    width: 75%;
}

#sbox {
    float: left;
    width: 50%;
}
#barButton {
    float: right;
    width: 35%;
}

.topBar {
    background-color: #fff;
    padding: 15px 0;
}

.sbox .input-group input {
    padding: 25px 10px;
}

.sbox .input-group button {
    background-color: #dd285d;
    border: none;
}

.topNav nav {
    background-color: #27ae60;
}

.topNav .bg-light {
    background-color: #27ae60 !important;
    max-height: 60px;
}

.topNav #navbarSupportedContent ul li {
    margin: 0 10px;
}

.topNav #navbarSupportedContent ul li a {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    padding: 20px 10px;
}

.topNav #navbarSupportedContent ul li a.active {
    background-color: #fff;
    color: #000;
}

.topNav #navbarSupportedContent ul li:hover {
    background-color: #fff;
}

.topNav #navbarSupportedContent ul li a:hover {
    color: #000;
}

.slick-slide {
    outline: none;
}

.customer-logos .slide {
    margin: 0 10px;
}
.customer-logos .slide img:hover {
    opacity: 0.8;
}

.topCategory {
    padding: 35px 0;
}
.my-img {
    height: 20px!important;
}
.services {
    background-color: #27ae60;
    padding: 30px 0;
}
.servicesOne {
    float: left;
    width: 20%;
    color: #fff;
    font-weight: 400;
    font-size: 17px;
    position: relative;
}

.servicesOne::after {
    position: absolute;
    bottom: -30px;
    left: 0;
    content: "";
    height: 3px;
    width: 0;
    background-color: #fff;
    transition: width 0.5s, left 0.5s, right 0.5s;
}

.servicesOne:hover::after {
    width: 100%;
}

.subscription .form1 button {
    background-color: #f5f6f8;
    border-radius: 0 45px 45px 0;
}

.subscription .form1 .input-group input {
    padding: 35px 15px;
    border-radius: 45px 0 0 45px;
}

.subscription .form1 .input-group button {
    padding: 0 25px;
    border: 0;
}

.subscription .form1 .input-group button:hover {
    background-color: #ff6251;
}

.subscription .form1 .input-group button:hover span {
    color: #fff;
}

.subscription .form1 .input-group button span {
    color: #ff6251;
}

.subscription {
    background-color: #27ae60;
    padding: 30px 0;
}

.subscriptionHeading {
    font-weight: 600 !important;
    font-size: 26px !important;
    text-transform: uppercase !important;
}

.subscriptionPara {
    font-weight: 400 !important;
    font-size: 16px !important;
    color: #fff !important;
    text-transform: uppercase !important;
}

.aboutCompanyInner {
    text-align: center;
}

.aboutCompanyInner p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-top: 20px;
}

.aboutCompanyInner .socialIcon {
    padding: 30px;
}

.aboutCompanyInner .socialIcon i {
    background-color: #fff;
    padding: 15px;
    border-radius: 7px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 22px;
}

.aboutCompanyInner .socialIcon i:hover {
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.19);
}
.aboutCompanyInner .socialIcon i:hover {
    color: #27ae60;
    transition: 0.3s;
}

.aboutCompany {
    background-color: #f2f2f2;
}

.aboutCompany {
    padding: 50px 0;
}

.downloadApp {
    padding: 35px 0;
}

.downloadAppIcon {
    margin-top: 25px;
}

.storeOwner {
    background-color: #27ae60;
    padding: 35px 0;
    background: url(../img/cak.png) no-repeat 0 0;
    background-size: cover;
    background-position: center;
    position: relative;
}

.storeOwner::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(39, 174, 96);
    opacity: 0.9;
    position: absolute;
}

.storeOwner button {
    background-color: #fff;
    border-radius: 45px;
    padding: 18px 45px;
    border: 5px solid rgba(39, 174, 96, 0.4);
    font-weight: 500;
    font-size: 18px;
}

.storeOwner button:hover {
    background-color: #fff;
    transition: 0.3s;
    border: 5px solid rgba(39, 174, 96, 0.2);
    -webkit-box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.29);
    box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.29);
}

.footer ul li a {
    color: #000;
    color: #fff;
    font-size: 16px;
}
.footer ul li {
    list-style-type: none;
    margin-left: -40px;
}
.footer ul li a:hover {
    text-decoration: none;
    color: #000 !important;
    margin-left: 4px;
    transition: 1s;
}

.fbox1 h3 {
    font-weight: 500;
    font-size: 19px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 35px;
}

.fbox1 h3::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #fff;
    width: 290px;
    height: 1px;
}

.fbox1 h4 {
    font-weight: 500;
    font-size: 17px;
    border-left: 5px solid #fff;
    padding: 0 10px;
}

.fbox1 ul li {
    font-weight: 400;
    font-size: 17px;
    line-height: 37px;
}

.footer {
    background: url(../img/footer.jpg) no-repeat 0 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 500px;
    position: relative;
    padding: 35px 0;
    color: #fff;
}

.footer::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(39, 174, 96, 0.9);
    width: 100%;
    height: 100%;
    display: block;
}

.copyright {
    background-color: #000;
    padding: 20px 0;
}
.company a {
    color: #27ae60;
}
.company a:hover {
    text-decoration: none;
    color: #dd285d !important;
}
.copyright p {
    font-weight: 300;
    font-size: 17px;
    margin-top: 7px;
}

.company {
    text-align: right;
}

.cart {
    background-color: rgba(39, 174, 96, 0.7);
    color: #fff;
    text-align: center;
    padding: 0 0;
}
.atcart {
    position: fixed;
    right: 0;
    top: 250px;
    width: 100px;
    height: 59px;
    z-index: 99999999999999999;
}
.cartInner p {
    font-weight: 500;
    font-size: 16px;
    color: #000;
    text-align: center;
    padding: 5px 0;
}
.cartInner {
    background-color: #fff;
    padding: 0 0;
    margin-top: 0px;
}
.carta {
    font-size: 35px !important;
    margin-top: 15px;
}

.galleryImage .slide {
    margin: 0 10px;
}

.imageGallery {
    padding: 35px 0;
}

.galleryImageTxt h3 {
    font-weight: 700;
    font-size: 23px;
    color: #fff;
}
.galleryImageTxt h3 span {
    font-weight: 400;
}
.galleryImageTxt p {
    font-weight: 500;
    font-size: 15px;
    color: #fff;
}
.galleryImageTxt button {
    font-weight: 700;
    font-size: 20px;
    text-decoration: underline;
    border: none;
    background-color: transparent;
    display: inline-block;
    color: #fff;
    margin-left: -10px;
}

.galleryImage .slide {
    position: relative;
}
.galleryImageTxt {
    position: absolute;
    left: 20px;
    top: 35px;
}

.popularshop {
    background-color: rgba(223, 230, 233, 0.7);
    padding: 35px 0;
}

.popularshops {
    background-color: #27ae60;
    padding: 35px 0;
}

.popularshops .pss {
    position: relative;
}

.popularshops .pss::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fff;
    height: 3px;
    width: 100%;
    display: none;
}

.shop2 .slide {
    margin: 0 10px;
    position: relative;
}

.shop2 .slide button {
    position: absolute;
    top: 25px;
    left: 25px;
    display: none;
    background-color: #fff;
    border-radius: 45px;
    font-weight: 700;
    font-size: 14px;
}

.shop2 .slide:hover button {
    display: block;
    transition: 1s;
}

.shop2 .slide::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: rgba(39, 174, 96, 0.8);
    width: 0;
    height: 0;
    transition: 0.5s;
}

.shop2 .slide:hover::before {
    width: 100%;
    height: 100%;
}

.popularShopHeading {
    font-weight: 700;
    font-size: 26px;
    color: #000;
    text-transform: uppercase;
}

.popularshop .ps {
    position: relative;
}

.popularshop .ps::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #51aa1b;
    height: 3px;
    width: 100%;
}

#viewMore {
    background-color: #dd285d;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    border: none;
    margin-left: 150px;
    padding: 10px 15px;
}

#viewMore:hover {
    background-color: #212529;
}

.popularshop .input-group {
    margin-left: 150px;
}

.popularshop .input-group input {
    border-radius: 45px 0 0 45px;
    border: 0;
}

.popularshop .input-group button {
    border-radius: 0 45px 45px 0;
    padding: 0 20px;
}

.popularshops .input-group {
    margin-left: 150px;
}

.popularshops .input-group input {
    border-radius: 45px 0 0 45px;
    border: 0;
}

.popularshops .input-group button {
    border-radius: 0 45px 45px 0;
    padding: 0 20px;
}

.swiper-container {
    width: 100%;
    height: 70%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

#mySidepanel ul{
    padding: 0;
}
.sidebar ul li {
    list-style-type: none;
}
.sidepanel {
    float: left;
    width: 20%;
    height: 100%;
    background: url(../img/sidepanel.jpg) no-repeat 0 0;
    background-size: cover;
    background-position: center;
    padding: 5px;
}
.mainBanner {
    float: right;
    width: 80%;
    max-height: 380px;
    position: relative;
}
.flex-viewport{
    max-height: 380px;
}
.flexslider .slides img {
    max-height: 380px;
}
.sidepanel ul li a {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}
.sidepanel ul li {
    list-style-type: none;
    line-height: 36px;
    margin: 5px 0;
}
.sidepanel ul li:hover {
    background-image: linear-gradient(
            to right,
            rgba(221, 40, 93, 1),
            rgba(221, 40, 93, 0)
    );
    padding: 0 10px;
    transition: 0.5s;
}
.sidepanel ul li a:hover {
    text-decoration: none;
    color: #fff;
}

.swiper-button-prev:after {
    content: "prev";
    font-size: 10px;
    background: #dd285d;
    color: #fff;
    padding: 15px 20px;
    z-index: 999999999999999999;
}
.swiper-button-next:after {
    content: "next";
    font-size: 10px;
    background: #dd285d;
    color: #fff;
    padding: 15px 20px;
    z-index: 999999999999999999;
}

.bannerInner {
    z-index: 9999999999999999999;
    position: absolute;
    left: 0;
    top: 40px;
}
.biImg img {
    width: 90%;
}
.biImg {
    float: left;
    width: 40%;
}
.biTxt {
    float: right;
    width: 60%;
    margin-top: 60px;
}

.biTxt h1 {
    font-weight: 700;
    font-size: 45px;
    color: #000 !important;
    text-transform: uppercase;
}
.biTxt h1 span#organic {
    color: #dd285d;
}
.biTxt h1 span {
    color: #27ae60;
}

.biTxt p {
    font-weight: 400;
    font-size: 22px;
    color: #000;
    text-transform: uppercase;
}
.biTxt p span#grocery {
    color: #27ae60 !important;
}
.biTxt p span {
    color: #dd285d !important;
}
.biTxt button {
    font-weight: 300;
    font-size: 22px;
    color: #fff;
    background-color: #27ae60;
}

.productCategory img {
    border-radius: 15px;
}
.productCategory {
    padding: 50px 50px 50px 50px;
    background-color: #f5f6f8;
}
.productCategory div {
    margin: 0 10px;
}

.mainHeading {
    font-size: 30px;
    color: #000;
    font-weight: 600;
    margin-left: 85px;
    margin-bottom: 50px;
    position: relative;
}
.mainHeading::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 71px;
    height: 3px;
    background-color: #0f6cb2;
}

.product-logos .slick-prev:before {
    content: "←";
    border-radius: 0 !important;
}

.product-logos .slide {
    position: relative;
}
.product-logos .slide::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 18px;
}
.product-logos .slide:hover::before {
    background-image: linear-gradient(
            to right,
            rgba(21, 126, 210, 0.7),
            rgba(39, 174, 96, 0.7)
    );
}

.arz {
    position: absolute;
    left: 50px;
    top: 50px;
    font-size: 22px;
    color: #fff;
    font-weight: 500;
}

.newarrival {
    font-size: 30px;
    color: #000;
    font-weight: 600;
    margin-left: 85px;
    margin-bottom: 50px;
    position: relative;
}
.newarrival::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 71px;
    height: 3px;
    background-color: #51aa1b;
}

.arrival {
    padding: 50px;
}

.arrival-logos .itm {
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    margin: 0 10px;
    padding: 3px 0;
    background-color: #fff;
}
.arrival-logos .itm:hover {
    border: 1px solid #dd285e;
}
.arrival-logos .itm .caption h5 {
    font-size: 16px;
    color: #000;
    font-weight: 500;
}
.arrival-logos .itm .caption h6 {
    font-size: 16px;
    color: #000;
    font-weight: 500;
    margin-top: -5px;
}
.arrival-logos .itm .caption p {
    color: #27ae60;
    font-weight: 600;
    font-size: 16px;
    margin-top: -5px;
}
.arrival-logos .itm .caption button {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    border-radius: 3px;
    margin-top: -5px;
}
.arrival-logos .itm .caption button:hover {
    background-color: #dd285d;
    border: 1px solid #dd285d;
}
.arrival .slick-dots {
    display: none !important;
}

#arrival {
    background-color: #f5f6f8;
}

.stickyNav.sticky {
    position: fixed;
    top: 0;
    z-index: 9999999999999;
    margin: 0;
    -webkit-animation: fadeInDown 0.9s ease-in;
    animation: fadeInDown 0.9s ease-in;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08);
    border-bottom: 0 !important;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    left: 0;
    right: 0;
    display: block;
    padding-top: 24px;
    padding-left: 0;
    margin-top: -25px;
}

#openbtn {
    display: none;
}
#closebtn {
    display: none;
}

.mobileBottomBar {
    display: none;
}
.mobilesocialIcon {
    display: none;
}

.stickybar.sticky {
    display: none;
}

.mobilehigo {
    display: none;
}

/***************shop UI*********************/

.shopProfile {
    margin-left: 50%;
    margin-top: -8%;
}
#shopInner {
    background-color: rgba(224, 224, 224, 0.5);
    width: 100%;
    height: 100vh;
}

.productOne {
    background-color: #fff;
    width: 100%;
    margin: 0 5px;
    padding: 10px;
}
.productOne img {
    margin-left: 0;
    margin-bottom: 10px;
}

.shopText {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    overflow: hidden;
}
.shopText1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
}
.shopPara {
    font-weight: 500;
    font-size: 20px;
    color: #27ae60;
    line-height: 20px;
}
.productOne button {
    background-color: #dcdde1;
    border-radius: 3px;
    color: #000;
    font-weight: 400;
    font-size: 16px;
    padding: 8px;
}

.productOne button:hover {
    background-color: #eb3b5a;
    color: #fff;
}

.shopSectionText {
    padding: 25px 0;
    margin-bottom: 50px;
}
.shopSectionText .row .col-lg-3 {
    margin: 0 0px;
}

.shopUIHeading {
    position: relative;
    left: 0;
    font-weight: 500;
    font-size: 26px;
}

.shopSectionTexts h2::after {
    content: "";
    position: absolute;
    bottom: 35px;
    left: 0px;
    background-color: #51aa1b;
    width: 930px;
    height: 2px;
    display: block;
}

.shopUiBanner img {
    margin-left: 10px;
    /*border-radius: ;*/
}

.shopProfile img {
    border-radius: 50%;
}

.shopproductlist .owl-nav {
    display: block;
    position: absolute;
    right: 0;
    top: -90px;
}

.shopproductlist .owl-nav span {
    background-color: transparent;
    padding: 2px 20px;
    color: #fff;
    font-size: 18px;
}

.shopproductlist .owl-dots {
    margin-top: 25px;
    display: none;
}

.shopproductlist .owl-theme .owl-dots .owl-dot.active span,
.shopproductlist .owl-theme .owl-dots .owl-dot:hover span {
    background: #dd285d;
    border-radius: 10px;
}

.shopUIHeading span {
    color: #eb3b5a;
}

.shopproductlistup {
    margin-bottom: 50px;
}

.fa-chevron-left:before {
    background-color: transparent;
    padding: 7px 10px;
    color: #000;
    border-radius: 3px;
}
.fa-chevron-right:before {
    background-color: transparent;
    padding: 7px 10px;
    color: #000;
    border-radius: 3px;
}

.owl-next:focus,
.owl-prev:focus {
    outline: none;
}
.owl-next:hover,
.owl-prev:hover {
    background-color: transparent !important;
}

.modal-body form .input-group input {
    display: block;
    color: #282c3f;
    font-size: 14px;
    width: 85%;
    padding: 13px 10px 15px;
    background: #fbfbfb;
    border: 1px solid #ccc;
    line-height: 17px;
}

.modal-body form .input-group input:focus {
    border: 1px solid #dd285d;
}

.login .modal-body form .input-group input {
    margin: 15px auto !important;
}
.register .modal-body form .input-group input {
    margin: 5px auto !important;
}

.modal-body form button {
    border-radius: 0;
    background-color: #27ae60 !important;
    margin-left: 35px;
    width: 85%;
    padding: 12px 0;
    margin-top: 15px;
    margin-bottom: 35px;
}
.modal-header {
    border-bottom: none !important;
}
.modal-footer {
    border-top: none !important;
}

.modal-dialog {
    border-radius: 0 !important;
}

.modal-body button.modalbtn {
    padding: 12px 27px;
    font-size: 12px;
    line-height: 1.42857;
    border-radius: 2px;
    text-transform: uppercase;
    border-color: #000;
    background: transparent !important;
    color: #000;
    border-radius: 0;
    width: 50%;
    margin-left: 120px;
    margin-top: -10px;
}
.modal-body form button:hover {
    background-color: #dd285d !important;
    color: #fff;
    border: 1px solid #dd285d;
}

.modal-header h5 {
    font-size: 33px;
    padding: 5px 0;
    color: #222;
    font-weight: 300;
    text-align: center !important;
    margin-left: 35%;
    margin-bottom: -20px;
}
.register form button {
    /*margin-top: ;*/
}
.modal-body {
    padding-bottom: 100px !important;
}

input:focus,
textarea:focus,
select:focus {
    outline: #f60;
}

.productDetails h2 {
    padding: 0;
    line-height: 1.4;
    font-size: 20px;
    font-weight: inherit;
    display: inline-block;
    font-weight: 500;
}

.productDetails h3 {
    padding: 0;
    line-height: 1.4;
    font-size: 16px;
    font-weight: inherit;
    font-weight: 500;
}

.productDetails h3 span {
    color: #27ae60 !important;
}

.productDetails h4 {
    padding: 0;
    line-height: 1.4;
    font-size: 28px;
    font-weight: inherit;
    font-weight: 500;
}

.productDetails h4 span {
    font-size: 16px;
    margin-left: 12px;
    vertical-align: middle;
    color: #878787;
}
.productDetails h5 span {
    margin-left: 12px;
}

.productDetails h5 {
    padding: 0;
    line-height: 1.4;
    font-size: 25px;
    font-weight: inherit;
    font-weight: 500;
    color: #007600;
}

.productDetails p {
    font-size: 16px;
}

.productDetailsbtn button {
    padding: 12px 28px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border: none;
    background: #dd285d;
    color: #fff;
    display: inline-block;
    border: 2px solid #dd285d;
    margin: 15px 0;
}
.productDetailsbtn button:hover {
    background-color: #27ae60;
    border: 2px solid #27ae60;
}

.productDetailsbtn button.atc {
    background-color: #27ae60 !important;
    border: 2px solid #27ae60;
    padding: 12px 28px;
}

.productDetailsbtn button.atc:hover {
    background-color: transparent !important;
    border: 2px solid #27ae60;
    color: #27ae60;
}

.productDetails {
    padding: 25px;
}
.productDetailsimg {
    margin: 45px 0 0 45px;
    font-size: 18px;
    font-weight: inherit;
    font-weight: 500;
}

.pimgTp {
    position: relative !important;
    border: 1px solid #d7d4d4;
    padding: 10px;
}

.pimgTp img {
    display: block;
}

.pimg {
    float: left;
    width: 40%;
    margin: 30px;
}

.ptext {
    float: right;
    width: 50%;
}

#second,
#third,
#fourth {
    display: none;
}

.productInner {
    width: 23%;
    margin: 0 3px;
    border: 1px solid #d7d4d4;
    padding: 5px;
}

.sp .owl-dots {
    display: none;
}

.sp .owl-nav {
    position: absolute;
    right: 0;
    top: -80px;
}

.similarProductsHead h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #51aa1b;
    width: 1070px !important;
    height: 2px;
    display: block;
}

.similarProductsHead h2 {
    position: relative;
    left: 0;
    font-weight: 500;
    font-size: 26px;
}

.similarProductsHead {
    padding: 25px;
}

.smilarProductsHead h2 {
}

.productDetailssocial i {
    font-size: 36px;
    margin: 0 5px;
    color: #000;
}
.productDetailssocial {
    padding: 15px 0;
}

#social-fb:hover {
    color: #3b5998;
    transform: 0.5s;
}
#social-tw:hover {
    color: #00acee;
    transform: 0.5s;
}
#social-li:hover {
    color: #0e76a8;
    transform: 0.5s;
}
#social-yt:hover {
    color: #e62117;
    transform: 0.5s;
}

.detailsec {
    background-color: #ecf0f1;
    padding: 10px;
}

.detailsec ul {
    background-color: #fff;
    padding: 15px 0;
}

.detailsec ul li a {
    color: #000;
    font-size: 20px;
    font-weight: 500;
}

.detailsec ul li a:hover {
    color: #27ae60 !important;
    font-weight: 500;
}

.detailsec ul li.nav-item {
    position: relative;
    margin: 0 10px;
}

.detailsec ul li.nav-item::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -15px;
    width: 0;
    height: 3px;
    background-color: #27ae60;
}

.detailsec ul li.nav-item:hover::after {
    width: 100%;
}

.detailsec ul li.nav-item .active {
    color: #27ae60 !important;
}

.detailsec p {
    margin-top: 25px;
    font-size: 22px;
    line-height: 30px;
    padding: 0 10px;
}
.detailsec {
    padding-bottom: 50px;
}

.feature-title {
    font-weight: 500;
    font-size: 16px;
    color: #252525;
    margin-bottom: 0;
}

.feature-desc {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 0;
    display: block;
    font-weight: 300;
    color: #757575;
    word-break: break-word;
}

.featureInner {
    padding: 20px;
    border: 1px solid #e6e6e6;
}
.featureThumbnail {
    padding: 0 10px;
    color: #dd285d;
    margin-top: -30px;
}

.featureInner:hover {
    background: #fff;
    transition: 0.3s;
    box-shadow: -7px 10px 24px -5px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: -7px 10px 24px -5px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: -7px 10px 24px -5px rgba(0, 0, 0, 0.22);
}

.featureslist {
    margin-bottom: 25px;
}

/********dasboard***********/

.dnLink ul li {
    padding: 0;
    font-size: 12px;
    font-weight: 400;
    color: #b2b2b2;
    list-style-type: none;
    display: block !important;
}

.dnLink ul li a {
    color: #000;
    font-size: 18px;
    display: block;
    margin: 25px;
}
.dnLink {
    padding: 55px 0;
}

.dnLink ul li a:hover {
    text-decoration: none;
}
.dashboardSection {
    border: 1px solid #ddd;
    margin: 50px;
    overflow: hidden;
    background: #fff;
    padding-bottom: 20px;
}
.dashnoardNavigation {
    float: left;
    width: 30%;
}
.dashnoardDetails {
    float: right;
    border-left: 1px solid #ddd;
    width: 70%;
    height: 100vh;
}

.dashnoardDetails h3 {
    font-size: 24px;
    text-align: center;
    color: #222;
    margin-bottom: 20px;
}

.dashnoardDetails p {
    font-size: 18px;
    line-height: 1.3em;
    text-align: center;
    color: #777;
    font-weight: 500;
}

.dashnoardInner .caption button {
    margin-left: 38%;
    border-radius: 3px;
    padding: 15px;
}
/*.dashnoardInner img {*/
/*    margin-left: ;*/
/*}*/
.dashnoardInner .ss {
    padding-top: 100px;
}
.dashnoardInner {
    padding: 0 50px;
}
#img2,
#img3,
#img4,
#img5 {
    display: none;
}

#img4 button.saveBtn {
    background-color: #27ae60 !important;
    color: #fff;
    width: 30%;
    letter-spacing: 0.01em;
    font-size: 16px;
    text-transform: capitalize;
    border-radius: 0;
    padding: 12px 0;
    border: 0;
}

#img2 button.saveBtn {
    background-color: #27ae60 !important;
    color: #fff;
    width: 30%;
    letter-spacing: 0.01em;
    font-size: 16px;
    text-transform: capitalize;
    border-radius: 0;
    padding: 12px 0;
    border: 0;
}

#img4 form input {
    border-radius: 0;
}
#img4 form label {
    font-weight: bold;
}

#img2 img,
#img3 img,
#img5 img {
    margin-left: 40%;
    margin-bottom: 10px;
}
