::-webkit-scrollbar {
  width: 5px;
  border-radius: 100px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #27ae60;
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v14/YMOYVM-eg6Qs9YzV9OSqZfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v14/PLygLKRVCQnA5fhu3qk5fQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v14/dPJ5r9gl3kK6ijoeP1IRsvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v14/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v14/ObQr5XYcoH0WBoUxiaYK3_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v14/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin-ext */
@font-face {
  font-family: 'Niconne';
  font-style: normal;
  font-weight: 400;
  src: local('Niconne'), local('Niconne-Regular'), url(https://fonts.gstatic.com/s/niconne/v7/at9nZeERhG1mh4D7CWUJzfY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Niconne';
  font-style: normal;
  font-weight: 400;
  src: local('Niconne'), local('Niconne-Regular'), url(https://fonts.gstatic.com/s/niconne/v7/Ci0yFRBPDqtg7EHO7VR0Zw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}



@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: local("Cairo"),local("Cairo-Regular"),url(https://fonts.gstatic.com/s/cairo/v2/MoGpUcTu_oZLf0bsrG2xFQ.woff2) format("woff2");
  unicode-range: U+0600-06FF,U+200C-200E,U+2010-2011,U+FB50-FDFF,U+FE80-FEFC;
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: local("Cairo"),local("Cairo-Regular"),url(https://fonts.gstatic.com/s/cairo/v2/iZqLGfCYEEkWEsr6HQRnSQ.woff2) format("woff2");
  unicode-range: U+0100-024F,U+1E00-1EFF,U+20A0-20AB,U+20AD-20CF,U+2C60-2C7F,U+A720-A7FF;
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: local("Cairo"),local("Cairo-Regular"),url(https://fonts.gstatic.com/s/cairo/v2/gtxIPk0-ZE5IZ2RrdsRLuQ.woff2) format("woff2");
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 1.5;
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
}
@media (min-width: 1480px){
  .container {
    max-width: 1440px!important;
  }
}
.clear {
  clear: both;
}
.topHeader {
  background-color: #15355a;
  padding: 15px 35px;
  color: #fff;
}
.item_discount {
  font-weight: 500;
  color: #131313;
  font-size: 16px;
}
#wrapper {
  width: 100%;
  height: 100vh;
}
.topHeaderRight a:hover {
  text-decoration: none;
  color: #fff;
}

.topHeaderRight {
  text-align: right;
}


#looged-menu-header{
  padding: 0;
}
@media (min-width: 992px){
  html[lang='ar'] .outside_shop .navbar-expand-lg .navbar-collapse {
    display: inline-flex!important;
  }
}
.outside_shop .topHeader .nav-link {
  padding-top: 0;
  padding-bottom: 0;
}
.elm__link .topHeaderLeft a{
  text-decoration: none;
  color: #ffffff;
  margin: 0 5px;
  font-weight: 400;
  font-size: 14px;
}

.navbar-dark .navbar-nav .nav-link.more-menu-logged{
  border: 0;
  border-radius: 0;
  width: 100%;
  background: #ff686e;
  border-bottom: 1px solid #ff4e56;
  height: 100%;
  color: #fff;
  font-size: 15px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  padding-bottom: 15px;
  padding-top: 13px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}
#looged-menu-header .navbar-nav .dropdown-menu {
  z-index: 999999;
}
.outside_shop .topHeader .navbar-dark .navbar-nav .nav-link.more-menu-logged, .outside_shop .topHeader .navbar-light .navbar-nav .active > .nav-link{
  color: #ffffff;
}
.navbar-dark .navbar-nav .nav-link.more-menu-logged::after {
  right: -3px;
}

.topHeaderRight span a:hover {
  color: #27ae60;
}
.topHeaderRight span a, .login-link {
  font-weight: 600;
  margin: 0 7px;
  color: #ffffff;
}
.topHeaderMid a{
  text-decoration: none;
  color: #ffffff;
}


.back-btn .fa-chevron-left:before {
  color: #fff;
}
#logo img {
  max-height: 41px;
  border-radius: 10px;
}

.cartmodal.modal.show .modal-dialog {
  transform: none;
  background-color: #fff;
  max-width: 410px;
  box-sizing: border-box;
  box-shadow: -2px 0 12px 0 rgba(143,143,143,.38););
}
.topHeader{
  position: fixed;
  top: 0;
  z-index: 99999;
  -webkit-animation: fadeInDown 0.9s ease-in;
  animation: fadeInDown 0.9s ease-in;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08);
  border-bottom: 0 !important;
  width: 100%;
  left: 0;
  right: 0;
  display: block;
  padding-left: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 30px;
  border:0;
  border-radius: 0px;

}
.select2-container{
  width: 92%!important;
}
.select2-container .select2-selection--single{
  height: 41px!important;
}
.select2-container{
  z-index: 99;
}

.select2-results__option{
  border-bottom: 1px solid #dddddd;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 30px;
  border:0;
  border-radius: 0px;

}
.select2-container{
  width: 95%!important;
}

.sc-capt.lft .btn-block {
  background-color: transparent;
  border: 0.0625rem solid #dd285d;
  color: #dd285d;
  font-weight: 600;
  border-radius: 0.1875rem;
  display: block;
  width: 160px;
}
/*.sc-capt.lft .btn-block{*/
/*  text-align: left;*/
/*}*/
/*html[lang='ar'] .sc-capt.lft .btn-block{*/
/*  text-align: right;*/
/*  float: left;*/
/*}*/
.sc-capt.lft .btn-block:hover{
  background-color: #dd285d;
  color: #ffffff;
}
.inside_shop #sbox .input-group>.form-control{
  width: 0;
}
.outside_shop .topHeaderMid span {
  margin: 0 5px;
  font-weight: 400;
  font-size: 14px;
}

.topHeaderLeft a {
  color: #fff;
  margin: 0 10px;
  font-weight: 400;
  font-size: 14px;
  display: inline;
}
.topHeaderLeft a:hover {
  color: #fff;
  text-decoration: none;
}

#helpMoreBtn {
  background-color: #dd285d;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  width: 138px;
  height: 45px;
  border-radius: 45px;
  border: none;
}
@media (max-width: 1920px) {
}
.return_button button {
  padding: 12px 28px;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border: none;
  background: #27ae60;
  color: #fff;
  display: inline-block;
  margin: 0px 0;
}

.return_button button:hover {
  background-color: #dd285d;
}

#helpMoreBtn i {
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
}
#helpMoreBtn:hover {
  background-color: #2c2c2c;
}
#cAccountBtn {
  background-color: #27ae60;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  width: 138px;
  height: 45px;
  border-radius: 45px;
  border: none;
}
#cAccountBtn:hover {
  background-color: #2c2c2c;
}

#cAccountBtn i {
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
}
.swiper-slide img {
  width: 100%;
  height: 475px;
  object-fit: cover;
  object-position: center;
}
#logo {
  float: left;
  width: 25%;
}
html[lang='ar'] .inside_shop #logo{
  float: right;
}
#logo img {
  margin-left: 55px;
}
#rightSection {
  float: right;
  width: 75%;
}

#barButton {
  float: right;
  width: 30%;
  padding-top: 10px;
}

.topBar {
  background-color: #fff;
  padding: 15px 0;
  margin-top: 65px;
}

.sbox .input-group input {
  padding: 25px 10px;
}

.sbox .input-group button {
  background-color: #dd285d;
  border: none;
}

.topNav nav {
  background-color: #27ae60;
}
.topNav .container{
  padding: 0;
}
.topNav .bg-light {
  background-color: #27ae60 !important;
  max-height: 60px;
}

.topNav #navbarSupportedContent ul li {
  margin: 0 20px;
}

.topNav #navbarSupportedContent ul li a {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  padding: 20px 10px;
}

.topNav #navbarSupportedContent ul li a.active {
  background-color: #fff;
  color: #000;
}

.topNav #navbarSupportedContent ul li:hover {
  background-color: #fff;
}

.topNav #navbarSupportedContent ul li a:hover {
  color: #000;
}

.slick-slide {
  outline: none;
}

.back-btn{
  color: #ffffff;
  font-weight: bold;
}
.customer-logos .slide {
  margin: 0 10px;
  position: relative;
}

.customer-logos .slide::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: block;
  border-radius: 25px;
  border: 1px solid #e0e0e0;
}

.customer-logos .slide img:hover {
  opacity: 0.8;
}
.customer-logos .slide:hover::before {
  border: 1px solid #dd285d;
}
.topCategory {
  padding: 35px 0;
}
.tag-img{
  width: 40px;
}
.customer-logos .slide img {
  width: 100%;
  height: 200px;
  border-radius: 15px;
}

.services {
  background-color: #27ae60;
  padding: 30px 0;
}
.servicesOne {
  float: left;
  width: 20%;
  color: #fff;
  font-weight: 400;
  font-size: 17px;
  position: relative;
}

.servicesOne::after {
  position: absolute;
  bottom: -30px;
  left: 0;
  content: "";
  height: 3px;
  width: 0;
  background-color: #fff;
  transition: width 0.5s, left 0.5s, right 0.5s;
}

.servicesOne:hover::after {
  width: 100%;
}

.subscription .form1 button {
  background-color: #f5f6f8;
  border-radius: 0 45px 45px 0;
}

.subscription .form1 .input-group input {
  padding: 35px 15px;
  border-radius: 45px 0 0 45px;
}

.subscription .form1 .input-group button {
  padding: 0 25px;
  border: 0;
}

.subscription .form1 .input-group button:hover {
  background-color: #ff6251;
}

.subscription .form1 .input-group button:hover span {
  color: #fff;
}

.subscription .form1 .input-group button span {
  color: #ff6251;
}

.subscription {
  background-color: #27ae60;
  padding: 30px 0;
}

.subscriptionHeading {
  font-weight: 600 !important;
  font-size: 26px !important;
  text-transform: uppercase !important;
}

.subscriptionPara {
  font-weight: 400 !important;
  font-size: 16px !important;
  color: #fff !important;
  text-transform: uppercase !important;
}

.aboutCompanyInner {
  text-align: center;
}

.aboutCompanyInner p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin-top: 20px;
}

.aboutCompanyInner .socialIcon {
  padding: 30px;
}

.aboutCompanyInner .socialIcon i {
  background-color: #fff;
  padding: 15px;
  border-radius: 7px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 22px;
}

.aboutCompanyInner .socialIcon i:hover {
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.19);
}
.aboutCompanyInner .socialIcon i:hover {
  color: #27ae60;
  transition: 0.3s;
}

.aboutCompany {
  background-color: #f2f2f2;
}

.aboutCompany {
  padding: 50px 0;
}

.downloadApp {
  padding: 35px 0;
}

.downloadAppIcon {
  margin-top: 25px;
}

.storeOwner {
  background-color: #27ae60;
  padding: 35px 0;
  background: url(../img/cak.png) no-repeat 0 0;
  background-size: cover;
  background-position: center;
  position: relative;
}

.storeOwner::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(39, 174, 96, 1);
  opacity: 0.9;
  position: absolute;
}

.storeOwner button {
  background-color: #fff;
  border-radius: 45px;
  padding: 18px 45px;
  border: 5px solid rgba(39, 174, 96, 0.4);
  font-weight: 500;
  font-size: 18px;
}

.storeOwner button:hover {
  background-color: #fff;
  transition: 0.3s;
  border: 5px solid rgba(39, 174, 96, 0.2);
  -webkit-box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.29);
}

.footer ul li a {
  color: #000;
  color: #fff;
  font-size: 16px;
}
.footer ul li {
  list-style-type: none;
  margin-left: -40px;
}
.footer ul li a:hover {
  text-decoration: none;
  color: #000 !important;
  margin-left: 4px;
  transition: 1s;
}

.fbox1 h3 {
  font-weight: 500;
  font-size: 19px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 35px;
}

.fbox1 h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #fff;
  width: 290px;
  height: 1px;
}
#sbox .input-group>.custom-file, #sbox .input-group>.custom-select, #sbox .input-group>.form-control, #sbox .input-group>.form-control-plaintext {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 0%;
}
.fbox1 h4 {
  font-weight: 500;
  font-size: 17px;
  border-left: 5px solid #fff;
  padding: 0 10px;
}

.fbox1 ul li {
  font-weight: 400;
  font-size: 17px;
  line-height: 37px;
}



.copyright {
  background-color: #000;
  padding: 20px 0;
}
.company a {
  color: #27ae60;
}
.company a:hover {
  text-decoration: none;
  color: #dd285d !important;
}
.copyright p {
  font-weight: 300;
  font-size: 17px;
  margin-top: 7px;
}

.sidepanel2 {
  float: left;
  width: 100%;
  height: 100%;
  background: url(../img/sidepanel.jpg) no-repeat 100%;
  background-size: cover;
  background-position: center;
  padding: 5px;
  /*max-height: 100%;*/
  /*overflow: auto;*/
  position: fixed;
  overflow-y:auto;
  overflow-x: hidden;

  width: 220px;
  margin-top: 70px;
  /*position: fixed;*/
  z-index: 3;
  /*left: -285px;*/
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  will-change: left;

}
.sidepanel2 ul li a {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}
.sidepanel2 ul li {
  list-style-type: none;
  line-height: 36px;
  margin: 5px 0;
}
.sidepanel2 ul li:hover {
  background-image: linear-gradient(
          to right,
          rgba(221, 40, 93, 1),
          rgba(221, 40, 93, 0)
  );
  padding: 0 10px;
  transition: 0.5s;
}
.sidepanel2 ul li a:hover {
  text-decoration: none;
  color: #fff;
}

.tag-img2{
  width: 25px;
}

.pimgTp2 img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.company {
  text-align: right;
}
.modal-open .modal{
  z-index: 999999999;
}

.atcart {
  position: fixed;
  right: 0;
  top: 250px;
  width: 80px;
  height: 59px;
  z-index: 1000;
}
.cartInner p {
  font-weight: 500;
  font-size: 13px;
  color: #000;
  text-align: center;
  padding: 5px 0;
  margin-bottom: 0px;
}
.cartInner {
  background-color: #fff;
  padding: 0 0;
  margin-top: 0px;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.carta {
  font-size: 35px !important;
  margin-top: 5px;
}

.galleryImage .slide {
  margin: 0 10px;
  position: relative;
}

.galleryImage .slide img {
  width: 100%;
  height: 180px;
  border-radius: 25px;
}
.galleryImage .slide::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
  border-radius: 50px;
}

.galleryImage .slide:hover:before {
  width: 100%;
  height: 100%;
}

.imageGallery {
  padding: 35px 0;
}

/*.imageGallery .slide img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}*/
.galleryImageTxt h3 {
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  text-align: center;
  margin-top: 50px;
}
.galleryImageTxt h3 span {
  font-weight: 400;
}
.galleryImageTxt p {
  font-weight: 500;
  font-size: 13px;
  margin-top: 15px;
  color: #fff;
  text-align: center !important;
}
.galleryImageTxt {
  width: 100%;
}

.galleryImageTxt button {
  font-weight: 700;
  font-size: 20px;
  text-decoration: underline;
  border: none;
  background-color: transparent;
  display: inline-block;
  color: #fff !important;
  text-decoration: none;
  margin-top: -5px;
}

.galleryImage .slide {
  position: relative;
}

.galleryImage .slide img {
  width: 100%;
  height: 100%;
  min-height: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 50px;
}

.galleryImageTxt {
  position: absolute;
  top: 35px;
  left: 0;
}

.shopUiBanner {
  width: 100%;
  height: 500px;
}

.shopUiBanner img.shopban {
  width: 80%;
  height: 480px;
  object-fit: cover;
  object-position: center;
}

.popularshop {
  background-color: rgba(223, 230, 233, 0.7);
  padding: 35px 35px;
}

.popularshops {
  background-color: #27ae60;
  padding: 35px 35px;
}

.popularshops .pss {
  position: relative;
}

.popularshops .pss::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
  height: 3px;
  width: 100%;
  display: none;
}

.shop2 .slide {
  margin: 0 10px;
  position: relative;
}

.shop2 .slide img {
  width: 100%;
  height: 130px;
}

.shop2 .slide button {
  position: absolute;
  top: 40px;
  left: 40px;
  display: none;
  background-color: #fff;
  border-radius: 45px;
  font-weight: 700;
  font-size: 14px;
}

.shop2 .slide:hover button {
  display: block;
  transition: 1s;
}

.shop2 .slide::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: rgba(39, 174, 96, 0.8);
  width: 0;
  height: 0;
  transition: 0.5s;
}

.shop2 .slide:hover::before {
  width: 100%;
  height: 100%;
}

.popularShopHeading {
  font-weight: 700;
  font-size: 26px;
  color: #000;
  text-transform: uppercase;
}

.popularshop .ps {
  position: relative;
}

.popularshop .ps::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #51aa1b;
  height: 3px;
  width: 100%;
}

#viewMore {
  background-color: #dd285d;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  border: none;
  margin-left: 150px;
  padding: 10px 15px;
}

#viewMore:hover {
  background-color: #212529;
}

.popularshop .input-group {
  margin-left: 150px;
}

.popularshop .input-group input {
  border-radius: 45px 0 0 45px;
  border: 0;
}

.popularshop .input-group button {
  border-radius: 0 45px 45px 0;
  padding: 0 20px;
}

.popularshops .input-group {
  margin-left: 150px;
}

.popularshops .input-group input {
  border-radius: 45px 0 0 45px;
  border: 0;
}

.popularshops .input-group button {
  border-radius: 0 45px 45px 0;
  padding: 0 20px;
}

.swiper-container {
  width: 100%;
  height: 70%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.sidebar ul li {
  list-style-type: none;
}
.sidepanel {
  float: left;
  width: 20%;
  height: 100%;
  background: url(../img/sidepanel.jpg) no-repeat 0 0;
  background-size: cover;
  background-position: center;
  padding: 5px;
  max-height: 476px;
  overflow: auto;
}
.mainBanner {
  float: right;
  width: 80%;
  position: relative;
}

.sidepanel ul li a {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}
.sidepanel ul li {
  list-style-type: none;
  line-height: 36px;
  margin: 5px 0;
}
.sidepanel ul li:hover {
  background-image: linear-gradient(
          to right,
          rgba(221, 40, 93, 1),
          rgba(221, 40, 93, 0)
  );
  padding: 0 10px;
  transition: 0.5s;
}
.sidepanel ul li a:hover {
  text-decoration: none;
  color: #fff;
}

.swiper-button-prev:after {
  content: "prev";
  font-size: 10px;
  background: #dd285d;
  color: #fff;
  padding: 15px 20px;
  z-index: 999999999999999999;
}
.swiper-button-next:after {
  content: "next";
  font-size: 10px;
  background: #dd285d;
  color: #fff;
  padding: 15px 20px;
  z-index: 999999999999999999;
}

.bannerInner {
  z-index: 9999999999999999999;
  position: absolute;
  left: 0;
  top: 40px;
}
.biImg img {
  width: 90%;
}
.biImg {
  float: left;
  width: 40%;
}
.biTxt {
  float: right;
  width: 60%;
  margin-top: 60px;
}

.biTxt h1 {
  font-weight: 700;
  font-size: 45px;
  color: #000 !important;
  text-transform: uppercase;
}
.biTxt h1 span#organic {
  color: #dd285d;
}
.biTxt h1 span {
  color: #27ae60;
}

.biTxt p {
  font-weight: 400;
  font-size: 22px;
  color: #000;
  text-transform: uppercase;
}
.biTxt p span#grocery {
  color: #27ae60 !important;
}
.biTxt p span {
  color: #dd285d !important;
}
.biTxt button {
  font-weight: 300;
  font-size: 22px;
  color: #fff;
  background-color: #27ae60;
}

.productCategory img {
  border-radius: 15px;
}
.productCategory {
  padding: 50px 10px 10px 0px;
  background-color: #f5f6f8;
}
.productCategory div {
  margin: 0 10px;
}

.mainHeading {
  font-size: 30px;
  color: #000;
  font-weight: 600;
  margin-left: 80px;
  margin-bottom: 50px;
  position: relative;
}
.mainHeading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 71px;
  height: 3px;
  background-color: #0f6cb2;
}

.product-logos .slick-prev:before {
  content: "←";
  border-radius: 0 !important;
}

.product-logos .slide {
  position: relative;
}

.product-logos .slide img {
  width: 100%;
  height: 280px;
}

/* ----- MODAL STYLE ----- */

.cartmodal .modal-header h5.modal-title {
  font-size: 20px;
}
.mods_price {
  float: right;
}

.mods {
  background-color: #eee;
  padding: 10px;
}
.regular_delivery {
  padding: 10px;
}
.product_price span {
  display: block;
  text-align: right;
}
.product_price span#actual_price {
  color: #e04f54 !important;
}
.cartmodal .modal-footer button {
  background-color: #dd285d;
  border: 0;
}
.delivery_items {
  border-bottom: 1px solid #eee;
  font-size: 12px;
}
.cartmodal .modal-content {
  min-height: 100vh;
}
.cartmodal .modal-content {
  max-width: 500px;
}

.cartmodal .modal-dialog {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}
.cartmodal:not(.in) .modal-dialog {
  -webkit-transform: translate3d(-25%, 0, 0);
  transform: translate3d(-25%, 0, 0);
}
/***shop modal****/

.discount_Offer {
  position: absolute;
  top: 0;
  left: 0;
}
html[lang='ar'] .shoppingCart .table th, html[lang='ar'] .shoppingCart .table td {
  text-align: right;
}

html[lang='ar'] .cartdetails .table th, html[lang='ar'] .cartdetails .table td {
  text-align: right;
}
.discount_Offer img {
  width: 70%;
}

.product-logos .slide::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 18px;
}
.product-logos .slide:hover::before {
  background-image: linear-gradient(
          to right,
          rgba(21, 126, 210, 0.7),
          rgba(39, 174, 96, 0.7)
  );
}

img.img-fluid.d-block.mx-auto.contaiginer_img.ui {
  max-height: 178px;
}

.arz {
  position: absolute;
  left: 0px;
  top: 125px;

  color: #fff;
  font-weight: 500;
  text-align: center;
  width: 100%;
}

.arz h6 {
  text-align: center !important;
  font-size: 26px;
}

.shop2 .slide img {
  width: 100%;
  height: 130px;
}

.arrival-logos .slide .itm {
  width: 90%;
  height: 300px;
  position: relative;
}

.arrival-logos .slide .itm img.ui {
  width: 60%;
  height: 60%;
  object-fit: cover;
  object-position: center center;
}

.newarrival {
  font-size: 30px;
  color: #000;
  font-weight: 600;
  margin-left: 20px;
  margin-bottom: 50px;
  position: relative;
}
.newarrival::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 71px;
  height: 3px;
  background-color: #51aa1b;
}

.arrival {
  padding: 50px;
}

.arrival-logos .itm {
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  margin: 0 0;
  padding: 15px 0;
  background-color: #fff;
}

.customer-logos .itm .caption h5 {
  font-size: 16px;
  color: #000;
  font-weight: 500;
}
.customer-logos .itm .caption h6 {
  font-size: 16px;
  color: #000;
  font-weight: 500;
  margin-top: -5px;
}
.customer-logos .itm .caption p {
  color: #27ae60;
  font-weight: 600;
  font-size: 16px;
  margin-top: -5px;
}
.customer-logos .itm .caption button {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  border-radius: 3px;
  margin-top: -5px;
}
.customer-logos .itm .caption button:hover {
  background-color: #dd285d;
}


.arrival-logos .itm {
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  margin: 0 0;
  padding: 15px 0;
  background-color: #fff;
}

.arrival-logos .itm .caption h5 {
  font-size: 16px;
  color: #000;
  font-weight: 500;
}
.arrival-logos .itm .caption h6 {
  font-size: 16px;
  color: #000;
  font-weight: 500;
  margin-top: -5px;
}
.arrival-logos .itm .caption p {
  color: #27ae60;
  font-weight: 600;
  font-size: 16px;
  margin-top: -5px;
}
.arrival-logos .itm .caption button {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  border-radius: 3px;
  margin-top: -5px;
}
.arrival-logos .itm .caption button:hover {
  background-color: #dd285d;
}
.arrival .slick-dots {
  display: none !important;
}

#arrival {
  background-color: #f5f6f8;
}

.stickyNav.sticky {
  position: fixed;
  top: 0;
  z-index: 9999999999999;
  margin: 0;
  -webkit-animation: fadeInDown 0.9s ease-in;
  animation: fadeInDown 0.9s ease-in;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08);
  border-bottom: 0 !important;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  left: 0;
  right: 0;
  display: block;
  padding-top: 24px;
  padding-left: 0;
  margin-top: -25px;
  background-color: #27ae60 !important;
}

.tableFixHead          { overflow-y: auto; height: 100px; }
.tableFixHead thead th {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 99999;
  border-top: 0px solid #dee2e6;
}
.stickymenu.sticky {
  position: fixed;
  top: 0;
  z-index: 9999;
  margin: 0;
  -webkit-animation: fadeInDown 0.9s ease-in;
  animation: fadeInDown 0.9s ease-in;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08);
  border-bottom: 0 !important;
  width: 100%;
  left: 0;
  right: 0;
  display: block;
}

#openbtn {
  display: none;
}
#closebtn {
  display: none;
}

.mobileBottomBar {
  display: none;
}
.mobilesocialIcon {
  display: none;
}

.stickybar.sticky {
  display: none;
}

.mobilehigo {
  display: none;
}

/***************shop UI*********************/

.shopProfile {
  margin-left: 50%;
  margin-top: -8%;
}
#shopInner {
  background-color: rgba(224, 224, 224, 0.5);
  width: 100%;
  height: 100vh;
}
.product_search {
  background-color: #ddd;
  padding: 2em;
  margin-top: -1.2em;
}
.product_search input {
  padding: 1.7em;
  border-radius: 5px;
}

.product_search h4 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-top: 12px;
}

.product_o_one {
  position: absolute !important;
  right: 10px !important;
  top: 10px !important;
}

.product_o_one img {
  width: 30px !important;
  height: 30px !important;
  float: left;
  position: relative;
  background-color: #fff !important;
  margin: 5px;
  border-radius: 100%;
  padding: 7px;
}

.product_price_tag {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #27ae60 !important;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 5px;
}
.product_price_tag span {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.productOne {
  background-color: #fff;
  width: 100%;
  margin: 0 5px;
  position: relative;
  text-align: center
}
.productOne img {
  margin-left: 0;
  margin-bottom: 10px;
  width: 100%;
  height: 150px;
  width: 150px;
  max-width: 150px;
  margin: auto;
  object-fit: cover;
  object-position: center;
  margin-bottom: 15px;
}
.productOne .caption h5 {
  height: 10px;
  padding-bottom: 39px;
}
.shopText {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  overflow: hidden;
}
.shopText1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
}
.shopPara {
  font-weight: 500;
  font-size: 20px;
  color: #27ae60;
  line-height: 20px;
}
.productOne button {
  background-color: transparent;
  border: 0.0625rem solid #dd285d;
  color: #dd285d;
  font-weight: 600;
  border-radius: 0.1875rem;
}

.productOne button:hover {
  background-color: #eb3b5a;
  color: #fff;
}

.shopSectionText {
  padding: 25px 0;
  margin-bottom: 50px;
}
.shopSectionText .row .col-lg-3 {
  margin: 0 0px;
}

.shopUIHeading {
  position: relative;
  left: 0;
  font-weight: 500;
  font-size: 26px;
}

.shopSectionTexts h2::after {
  content: "";
  position: absolute;
  bottom: 35px;
  left: 0px;
  background-color: #51aa1b;
  width: 100%;
  height: 2px;
  display: block;
}

.shopSectionTexts h2 {
  font-weight: 600;
}

.shopProfile img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.shopproductlist .owl-nav {
  display: block;
  position: absolute;
  right: 0;
  top: -90px;
}

.shopproductlist .owl-nav span {
  background-color: transparent;
  padding: 2px 20px;
  color: #fff;
  font-size: 18px;
}

.shopproductlist .owl-dots {
  margin-top: 25px;
  display: none;
}

.shopproductlist .owl-theme .owl-dots .owl-dot.active span,
.shopproductlist .owl-theme .owl-dots .owl-dot:hover span {
  background: #dd285d;
  border-radius: 10px;
}

.shopUIHeading span {
  color: #eb3b5a;
}

.shopproductlistup {
  margin-bottom: 50px;
}

.fa-chevron-left:before {
  background-color: transparent;
  padding: 7px 10px;
  color: #000;
  border-radius: 3px;
}
.fa-chevron-right:before {
  background-color: transparent;
  padding: 7px 10px;
  color: #000;
  border-radius: 3px;
}

.owl-next:focus,
.owl-prev:focus {
  outline: none;
}
.owl-next:hover,
.owl-prev:hover {
  background-color: transparent !important;
}

.modal-body form .input-group input {
  display: block;
  color: #282c3f;
  padding: 13px 10px 15px;
  background: #fbfbfb;
  border: 1px solid #ccc;
  line-height: 17px;
}

.modal-body form .input-group input:focus {
  border: 1px solid #dd285d;
}

.login .modal-body form .input-group input {
  margin: 15px auto !important;
  text-align: center;
}
.customerlogin #login-panel{
  margin-top: 75px;
}
.register .modal-body form .input-group input {
  margin: 5px auto !important;
}

.modal-body form button {
  border-radius: 0;
  background-color: #15355a!important;
  color: #ffffff;
  padding: 12px 0;
  margin-top: 15px;
  margin-bottom: 35px;
}
.modal-header {
  border-bottom: none !important;
}
.modal-footer {
  border-top: none !important;
}

.modal-dialog {
  border-radius: 0 !important;
}

.modal-body button.modalbtn {
  padding: 12px 27px;
  font-size: 12px;
  line-height: 1.42857;
  border-radius: 2px;
  text-transform: uppercase;
  border-color: #000;
  background: transparent !important;
  color: #000;
  border-radius: 0;
  width: 50%;
  margin-left: 120px;
  margin-top: -10px;
}
.modal-body form button:hover {
  background-color: #dd285d !important;
  color: #fff;
  border: 1px solid #dd285d;
}

.modal-header h5 {
  font-size: 33px;
  padding: 5px 0;
  color: #222;
  font-weight: 300;
  text-align: center !important;
  margin-bottom: -20px;
}


input:focus,
textarea:focus,
select:focus {
  outline: #f60;
}

.productDetails h2 {
  padding: 0;
  line-height: 1.4;
  font-size: 20px;
  font-weight: inherit;
  display: inline-block;
  font-weight: 500;
}

.productDetails h3 {
  padding: 0;
  line-height: 1.4;
  font-size: 16px;
  font-weight: inherit;
  font-weight: 500;
}

.productDetails h3 span {
  color: #27ae60 !important;
}

.productDetails h4 {
  padding: 0;
  line-height: 1.4;
  font-size: 28px;
  font-weight: inherit;
  font-weight: 500;
}

.productDetails h4 span {
  font-size: 16px;
  margin-left: 12px;
  vertical-align: middle;
  color: #878787;
}
.productDetails h5 span {
  margin-left: 12px;
}

.productDetails h5 {
  padding: 0;
  line-height: 1.4;
  font-size: 25px;
  font-weight: inherit;
  font-weight: 500;
  color: #007600;
}

.productDetails p {
  font-size: 16px;
}

.productDetailsbtn button {
  padding: 12px 28px;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border: none;
  background: #dd285d;
  color: #fff;
  display: inline-block;
  border: 2px solid #dd285d;
  margin: 15px 0;
}
.productDetailsbtn button:hover {
  background-color: #27ae60;
  border: 2px solid #27ae60;
}

.productDetailsbtn button.atc {
  background-color: #27ae60 !important;
  border: 2px solid #27ae60;
  padding: 12px 28px;
}

.productDetailsbtn button.atc:hover {
  background-color: transparent !important;
  border: 2px solid #27ae60;
  color: #27ae60;
}

.productDetails {
  padding: 25px;
}
.productDetailsimg {
  margin: 45px 0 0 45px;
  font-size: 18px;
  font-weight: inherit;
  font-weight: 500;
}
.caption em {
  background-color: #fdd670;
}
.pimgTp {
  position: relative !important;
  border: 1px solid #d7d4d4;
  padding: 10px;
}

.pimgTp img {
  display: block;
  width: 100%;
  height: 320px;
  object-fit: cover;
  object-position: center;
}

.pimg {
  float: left;
  width: 40%;
  margin: 30px;
}

.ptext {
  float: right;
  width: 50%;
}

.seconds {
  display: none;
}
.thirds {
  display: none;
}
.fourths {
  display: none;
}

.productInner {
  width: 23%;
  margin: 0 3px;
  border: 1px solid #d7d4d4;
  padding: 5px;
}

.sp .owl-dots {
  display: none;
}

.sp .owl-nav {
  position: absolute;
  right: 0;
  top: -80px;
}

.similarProductsHead h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #51aa1b;
  width: 100% !important;
  height: 2px;
  display: block;
}

.similarProductsHead h2 {
  position: relative;
  left: 0;
  font-weight: 500;
  font-size: 26px;
}

.similarProductsHead {
  padding: 25px;
}

.productDetailssocial i {
  font-size: 36px;
  margin: 0 5px;
  color: #000;
}
.productDetailssocial {
  padding: 15px 0;
}

.input-group.bootstrap-touchspin.bootstrap-touchspin-injected input {
  width: 30% !important;
  border-radius: 0;
  margin: 10px 0;
}
.color_chart .square {
  margin: 5px;
  padding: 15px;
  background-color: purple;
  float: left;
  border: 3px solid white;
}
html[lang='ar'] .color_chart .square{
  float: right;
}
.color_chart {
  width: 100%;
  margin-top: 10px;
}
#social-fb:hover {
  color: #3b5998;
  transform: 0.5s;
}
#social-tw:hover {
  color: #00acee;
  transform: 0.5s;
}
#social-li:hover {
  color: #0e76a8;
  transform: 0.5s;
}
#social-yt:hover {
  color: #e62117;
  transform: 0.5s;
}

.detailsec {
  background-color: #ecf0f1;
  padding: 10px;
}

.detailsec ul {
  background-color: #fff;
  padding: 15px 0;
}

.detailsec ul li a {
  color: #000;
  font-size: 20px;
  font-weight: 500;
}

.detailsec ul li a:hover {
  color: #27ae60 !important;
  font-weight: 500;
}

.detailsec ul li.nav-item {
  position: relative;
  margin: 0 10px;
}

.detailsec ul li.nav-item::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -15px;
  width: 0;
  height: 3px;
  background-color: #27ae60;
}

.detailsec ul li.nav-item:hover::after {
  width: 100%;
}

.detailsec ul li.nav-item .active {
  color: #27ae60 !important;
}

.detailsec p {
  margin-top: 25px;
  font-family: 22px;
  line-height: 30px;
  padding: 0 10px;
}
.detailsec {
  padding-bottom: 50px;
}

.feature-title {
  font-weight: 500;
  font-size: 16px;
  color: #252525;
  margin-bottom: 0;
}

.feature-desc {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 0;
  display: block;
  font-weight: 300;
  color: #757575;
  word-break: break-word;
}

.featureInner {
  padding: 20px;
  border: 1px solid #e6e6e6;
}
.featureThumbnail {
  padding: 0 10px;
  color: #dd285d;
  margin-top: -30px;
}

.featureInner:hover {
  background: #fff;
  transition: 0.3s;
  box-shadow: -7px 10px 24px -5px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: -7px 10px 24px -5px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: -7px 10px 24px -5px rgba(0, 0, 0, 0.22);
}

.featureslist {
  margin-bottom: 25px;
}

/********dasboard***********/

.dnLink ul li {
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  color: #b2b2b2;
  list-style-type: none;
  display: block !important;
  position: relative;
}

.dnLink ul li:hover::before {
  width: 5px;
}

.dnLink ul li a {
  color: #000;
  font-size: 18px;
  display: block;
  margin: 25px;
  color: #000;
  position: relative;
}

.dnLink ul li a::before {
  content: "";
  position: absolute;
  left: -80px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #dd285d;
}

.dnLink ul li a:hover::before {
  width: 5px;
}

.dnLink ul li a i {
  color: #dd285d;
}

.dnLink {
  padding: 55px 0;
}

.dnLink ul li a:hover {
  text-decoration: none;
}
.dashboardSection {
  border: 1px solid #ddd;
  margin: 50px 0;
  overflow: hidden;
  background: #fff;
  padding-bottom: 20px;
}
.dashnoardNavigation {
  float: left;
  width: 30%;
}
.dashnoardDetails {
  float: right;
  border-left: 1px solid #ddd;
  width: 70%;
  height: 100vh;
}

.dashnoardDetails h3 {
  font-size: 24px;
  text-align: center;
  color: #222;
  margin-bottom: 20px;
}

.dashnoardDetails p {
  font-size: 18px;
  line-height: 1.3em;
  text-align: center;
  color: #777;
  font-weight: 500;
}

.dashnoardInner .caption button {
  margin-left: 38%;
  border-radius: 3px;
  padding: 15px;
}

.dashnoardInner .ss {
  padding-top: 100px;
}
.dashnoardInner {
  padding: 0 50px;
}
#img2,
#img3,
#img4,
#img5 {
  display: none;
}

#img4 button.saveBtn {
  background-color: #27ae60 !important;
  color: #fff;
  width: 30%;
  letter-spacing: 0.01em;
  font-size: 16px;
  text-transform: capitalize;
  border-radius: 0;
  padding: 12px 0;
  border: 0;
}

#img2 button.saveBtn {
  background-color: #27ae60 !important;
  color: #fff;
  width: 30%;
  letter-spacing: 0.01em;
  font-size: 16px;
  text-transform: capitalize;
  border-radius: 0;
  padding: 12px 0;
  border: 0;
}

#img4 form input {
  border-radius: 0;
}
#img4 form label {
  font-weight: 14px;
}

#img2 img,
#img3 img,
#img5 img {
  margin-left: 40%;
  margin-bottom: 10px;
}

.userDetails {
  text-align: center;
  padding: 50px;
  border-bottom: 1px solid #ddd;
}

.userDetails .userDetails-content {
  width: 100%;
}

.userDetails .userDetails-content h4.userDetails-name {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  color: #222;
  text-align: center;
  margin-top: 10px;
}

/*************checkout****************/

.checkout {
  margin: 50px 0;
}

.checkout_contact_information_left {
  font-size: 16px;
  font-weight: 500;
  position: relative;
}

.checkout_contact_information_right {
  font-size: 16px;
  font-weight: 500;
}
.checkout_contact_information_right span {
  color: #f60;
  margin-left: 5px;
}

.checkout form {
  width: 100% !important;
}

.checkoutTwo input {
  display: block;
  color: #282c3f;
  font-size: 14px;
  width: 100%;
  padding: 15px 15px;
  background: rgba(255, 255, 255, 1);
  border: 0;
  line-height: 17px;
  border-radius: 0;
  border-bottom: 2px solid #fff;
}
.editMapSec {
  position: relative;
}
.editMapSec button {
  position: absolute;
  right: 20px;
  top: 54px;
  background-color: #27ae60;
  border-radius: 50px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  padding: 12px 28px;
}

.editMapSec button:hover {
  background-color: #dd285d;
  transition: 0.4s;
  color: #fff;
}

.checkoutTwo {
  padding: 50px 0;
}
.checkoutTwo h6 {
  margin-bottom: 35px;
  font-size: 22px;
  position: relative;
  font-weight: 600;
}

.checkoutTwo h6::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  background: #000;
  width: 10%;
  height: 2px;
}

.checkoutTwo .input-group {
  margin: 15px 0;
}
.checkoutTwo button {
  cursor: pointer;
  display: inline-block;
  background-color: #119c45;
  background-clip: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px transparent solid;
  border-radius: 0;
  color: white;
  font-weight: 500;
  padding: 1em 1.7em;
  font-size: 14px;
  text-align: center;
}
.checkoutTwo button {
  background-color: #dd285d;
  transition: 0.4s;
  color: #fff;
}

.checkout form .input-group input:focus {
  border-bottom: 2px solid #dd285d;
}

.editMap iframe {
  height: 500px !important;
}
.editMap {
  margin-top: 50px;
}

.order-summary__emphasis {
  margin-left: 170px;
  font-weight: 500;
}

.checkouPrice {
  background-color: #fff;
  padding: 50px 20px;
  margin-top: 20px;
  min-height: 60%;
  border-radius: 5px;
  border: 1px solid #000;
}

td:last-child,
th:last-child {
  text-align: right;
}

.order-summary__small-text {
  font-size: 0.8571428571em;
}

.field__input-btn-wrapper {
  margin-bottom: 30px;
}

span.payment-due__price.skeleton-while-loading--lg {
  font-size: 20px;
}

.couponbtn {
  background: #27ae60;
  color: #fff;
  font-size: 14px;
  border: 0;
  border-radius: 4px;
  padding: 10px 15px;
}

.field__input-wrapper input {
  background-color: white;
  color: #282c3f;
  font-size: 14px;
  padding: 11px 15px;
  background: #fbfbfb;
  border: 1px solid #ccc;
  line-height: 17px;
  border-radius: 0;
}

.proDetails span {
  font-size: 14px;
  font-weight: 600;
}

.pricel {
  font-size: 14px;
  font-weight: 600;
}

.map {
  padding: 25px;
  position: relative;
}
.mapHeading {
  background-color: #fff;
  padding: 15px;
  font-weight: 500;
  font-size: 17px;
  text-align: left;
}
.continue_shopping_link{
  float: right;
}
html[lang='ar'] .continue_shopping_link{
  float: left;
}
html[lang='ar'] .mapHeading{
  text-align: right;
}
html[lang='ar'] .basicpages #logo{
  float: right;
}
#map {
  background-color: #fff;
  padding-bottom: 80px;
  min-height: 400px;
}

.mapInput {
  position: absolute;
  top: 100px;
  left: 50px;
  z-index: 999;
  width: 70%;
}
.mapInput input {
  border-radius: 0;
  padding: 30px 10px;
}

.mapbtn button {
  background: #27ae60;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  padding: 17.5px 40px;
  border: none;
  outline: none;
  font-size: 1rem;
  border-radius: 2px;
  text-align: center;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
  margin: 0 10px;
  border: 2px solid #27ae60;
  display: inline-block;
}
.mapbtn {
  padding: 50px 0;
  margin-top: -20px;
}
.mapbtn button:hover {
  background-color: transparent;
  border: 2px solid #27ae60;
  color: #000;
}

.gmnoprint {
  display: none;
}

#map button {
  padding: 10px 30px;
  border-radius: 50px;
  font-size: 16px;
  border: 1px solid #fff;
  background-color: #fff;
  color: #000;
  display: block;
  margin-left: 1000px;
  margin-top: 25px;
}

.shopinnerban {
  position: relative;
}
.shopsidep {
  position: absolute;
  top: 0;
  left: 0;
}

/****Product Overlay*****/
.contaiginer {
  position: relative;
  width: 80%;
  max-width: 400px;
}

.contaiginer_img {
  display: block;
  width: 80%;
  height: auto;
}

.contaiginer_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: rgba(242, 242, 242, 0.2);
}

.contaiginer_overlay a {
  outline: 0;
}
.contaiginer:hover .contaiginer_overlay {
  opacity: 1;
}

.contaiginer_icon img {
  float: left;
  outline: none;
}

.contaiginer_icon {
  color: #000;
  font-size: 18px;
  position: absolute;
  top: 5%;
  right: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: inline-block;
}

/****Product Overlay*****/
._4472a_zYlL- {
  border-bottom-right-radius: 4.0625rem;
  border-top-right-radius: 4.0625rem;
  color: #fff;
  display: inline-block;
  font-size: 0.625rem;
  font-weight: 600;
  left: 0;
  padding: 0.5rem 0.5rem 0.625rem;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0.625rem;
  z-index: 9;
  background-color: #ff3b3b;
}
._2eb04_2LXo3 {
  position: absolute;
  right: 0;
  top: 0.05rem;
}

._2eb04_2LXo4 {
  position: absolute;
  right: 3em;
  top: 0.55rem;
}

.f41d7_3EAxq {
  color: #d8d8d8;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
/***********Autocomplete***********/

.autocomplete {
  position: relative;
  display: block;
}

.autocomplete input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 15px 5px;
  font-size: 16px;
}

.autocomplete input[type="text"] {
  background-color: #f1f1f1;
  width: 100%;
  height: 70px;
}

.autocomplete input[type="submit"] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  padding: 0.9rem 1em;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
/****/
.inner-form .input-field {
  position: relative;
  border-right: 1px solid #ddd;
  border: none !important;
  outline: none !important;
}
#myInputautocomplete-list {
  position: absolute;
  box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
  top: 100%;
  width: 100%;
  background-color: #ffffff;
  padding: 15px;
  z-index: 99;
  height: 150px;
  overflow: auto;
}
.sp{
  padding-left: 5px;
}
.lft{
  display: block;
}
html[lang='ar'] .lft{
  text-align: right;
}

.featured_products{
  margin-top: 20px;
}
#otp-lbl{
  text-align: center;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  transition: all 0.3s;
  border-right: 1px solid #000000;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 6px;
  background: #27ae60;
}

#sidebar ul.components {
  overflow-y: auto;
  padding-bottom: 30px;
  box-sizing: border-box;
  display: block;
  max-height: 100vh;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: #000000;
}

#sidebar ul li a:hover {
  cursor: pointer;
  background: #e1e1e1;
  background: -moz-linear-gradient(left,#fff 0,#ccc 100%);
  background: -webkit-linear-gradient(left,#fff 0,#ccc 100%);
  background: linear-gradient(to right,#fff 0,#ccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cccccc', GradientType=1);
}

#sidebar ul li.active>a{
  color: #d39b11;
}

#sidebar ul li a[aria-expanded="true"] {
  color: #d39b11;
}
a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

html[lang='ar'] #sidebar .dropdown-toggle::after {
  left: 20px;
  right: auto;
}

#sidebar ul li ul  {
  margin-left: 10px;
  border-left: solid 1px #eee;
  padding-left: 10px;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
}
#main-content {
  padding: 20px;
  transition: all 0.3s;
}
#topbarnav{
  padding: 0.5rem 1rem;
}
.shopproductlistup .thumbnails{
list-style: none;
  padding: 0;
  margin-top: 0;
}
.shopproductlistup .thumbnails li{
  margin-bottom: 20px;
}
.shopproductlistup .overlay{
  height: 84%;
}
@media (min-width: 992px) {
  .shopproductlistup .thumbnails .col-lg-1 {
    flex: 0 0 10.333333%;
    max-width: 10.333333%;
  }
}
@media (max-width: 991px) {
  .shopproductlistup .thumbnails .col-lg-1 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
html[lang='ar'] #topbarnav {
  text-align: right;
}
html[lang='ar'] #topbarnav .navbar-expand-lg{
  float: left;
}
#middlecontent{
  max-width: 2200px;
}
@media (max-width: 2497px) {
  #middlecontent{
    max-width: 2000px;
  }
}
@media (max-width: 2297px) {
  #middlecontent{
    max-width: 1800px;
  }
}
@media (max-width: 2097px) {
  #middlecontent{
    max-width: 1600px;
  }
}
@media (max-width: 1897px) {
  #middlecontent{
    max-width: 1400px;
  }
}
@media (max-width: 1697px) {
  #middlecontent{
    max-width: 1200px;
  }
}
@media (max-width: 1497px) {
  #middlecontent{
    max-width: 1000px;
  }
}
@media (max-width: 1297px) {
  #middlecontent{
    max-width: 800px;
  }
}

@media (max-width: 1097px) {
  #middlecontent{
    max-width: 600px;
  }
}
html[lang='ar'] #sidebar{
  text-align: right;
  border-left: 1px solid #000000;
  border-right: initial;
}
html[lang='ar'] #sidebar ul.components{
  padding: 0;
}
html[lang='ar'] #looged-menu-header .navbar-nav .dropdown-menu {
  text-align: right;
}

html[lang='ar'] #sidebar ul li ul {
  margin-right: 10px;
  padding-right: 10px;
  margin-left: initial;
  padding-left: initial;
  border-right: 1px solid #eee;
  border-left: initial;
}
.back-btn .fa-chevron-right:before{
  color: #ffffff;
}
html[lang='ar'] #sidebar.active {
  margin-right: -250px;
  margin-left: initial;
}
html[lang='ar'] .shopSectionTexts{
  text-align: right;
}
html[lang='ar'] .shopproductlist .owl-nav {
  left: 0;
  right: initial;
}
html[lang='ar'] .modal-header .close {
  margin: initial;
  padding-top: 0;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  html[lang='ar'] #sidebar {
    margin-left: initial;
    margin-right: -250px;
  }
  html[lang='ar'] #sidebar.active {
    margin-left: initial;
    margin-right: 0;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
  #looged-menu-header .navbar-nav .dropdown-menu {
    position: absolute;
  }
  html[lang='ar'] #looged-menu-header .navbar-nav .dropdown-menu {
    left: 43px;
    top: 10px;
  }
}






.item-quantity input {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: none;
  font-size: 0.875rem;
  font-weight: 800;
  height: 100%;
}
.item-quantity {
  width: 130px;
  height: 44px;
}
.btn-delete {
  font-size: 12px;
}
#carttable .btn-danger{
  color: #ffffff;
  cursor: pointer;
}
.input-group > .form-control, .input-group > .form-control-plaintext, .input-group > .custom-select, .input-group > .custom-file {
  position: relative;
  flex: 1 1 0%;
  min-width: 0;
  margin-bottom: 0;
}
.input-group .form-control {
  height: calc(2.25rem + 6px);
}
.input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}
.item-quantity .input-group-btn {
  float: left;
  width: 30px;
}
.item-quantity .input-group-btn button {
  display: block;
  height: 21px;
  padding: 0 10px;
  font-size: 10px;
  border: 1px solid #dee2e6;
}
.item-quantity .input-group-btn button {
  display: block;
  height: 21px;
  padding: 0 10px;
  font-size: 10px;
  border: 1px solid #dee2e6;
  background-color: #fff;
  color: #000;
}
.input-group-btn:not(:first-child)>.btn, .input-group-btn:not(:first-child)>.btn-group {
  margin-top: 0px;
  border-radius: 0;
  margin: 0px;
}
.input-group-btn:not(:first-child)>.btn, .input-group-btn:not(:first-child)>.btn-group {
  margin-top: 0px;
  border-radius: 0;
}
.input-group-btn:not(:first-child)>.btn-group:first-child, .input-group-btn:not(:first-child)>.btn:first-child {
  margin-left: 0px;
}

element.style {
}
.item-quantity .input-group-btn {
  float: left;
  width: 30px;
}
.input-group-btn {
  position: relative;
  -ms-flex-align: stretch;
  align-items: stretch;
  font-size: 0;
  white-space: nowrap;
}
.input-group-addon, .input-group-btn {
  white-space: nowrap;
}
.input-group-addon, .input-group-btn {
  display: block;
}
.card .btn span{
  padding: 0px;
  margin: 0px 3px;
}
.payments{
  list-style: none;
}
.payments .card{
  margin: 3px;
  text-align: center;
  padding: 10px;
  height: 75px;
  vertical-align: middle;
  cursor: pointer;
}
.payments .card.active{
  background-color: #5eb824;
  color: #ffffff;
}
.payments .card h3{
  font-size: 15px;
}
.payments .card .caption{

}
#searchInput{
  width: 0px;
  display: none;
}

.out_of_stock{
  background-color: transparent;
  border: 0.0625rem solid #dd285d;
  color: #dd285d;
  font-weight: 600;
  border-radius: 0.1875rem;
  width: 100%;
  background: #d5d6d1;
  display: block;
  padding: 7px;
}

#map {
  height: 100%;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}


.cart-contents {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#sticky-con {
  position: sticky;
  top: 75px;
}
.btnShowDetails {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25px;
  background: #fff;
  text-align: center;
  border: 0;
  width: 100%;
  color: #5e5e5e;
  font-weight: 700;
  font-size: 12px;
  padding: 3px;
  text-decoration: none;
  line-height: 20px;
  text-underline: none;
}
.cartdetailsarea{margin-top: 50px}
.cartdetails .btn-delete{
  color: #ffffff!important;
}
#address-form-inner{
  margin-top: 65px;
  padding: 10px;
  background-color: #ddd;
}

.shopproductdetails .flexslider .slides img {
  max-height: 280px;
}
.shopproductdetails #carousel .slides img {
  max-height: 120px;
}
.shopproductdetails .flexslider{
  max-height: 300px;
}
.shopproductdetails #carousel .slides li{
  margin: 0 3px;
  border: 1px solid #d7d4d4;
  padding: 5px;
  cursor: pointer;
}
html[lang='ar'] .productDetails{
  text-align: right;
}
.productDetailsbtn{
  display: flex;
}